@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../shared/half-clipped-shape.scss";

.hero-carousel{
    margin-top: 400px;
    &__container{
      &--title{
        font-family: 'Segoe UI Bold';
        width: 80%;
        margin: auto;
        padding-top: 50px;
        font-size: 3rem;
        text-align: left;
        @include is-extra-small-mobile {
          padding-top: 0px;
          font-size: 1.5rem;
        }
        @include is-mobile {
          padding-top: 50px;
          font-size: 2.2rem;
        }
    
        @include is-tablet {
          padding-top: 50px;
          font-size: 2.2rem;
        }
    
        @include is-desktop {
          padding-top: 50px;
          font-size: 2.2rem;
        }
      }
      &--content{
        text-align: left;
        width: 80%;
        margin: auto;
      }
    }
  }
  /deep/ .hero-bullets{
    position: absolute;
    bottom: 0%;
    width: 100%;
    margin: auto;
  }
@media (max-width: 600px){
  .carousel-wrapper {
    margin-top: 0;
    min-height: auto;
  }
}
  // All have vw as divide operation units must be the same for all
$width: 47vw;
$height: 16vw;
$clipped-length: 3vw;

$widths-and-heights: (
  clipped-shape-width: $width,
  clipped-shape-height: $height,
  clipped-length: $clipped-length,
  clipped-shape-width-xs: (
    $width + 50vw
  ),
  clipped-shape-height-xs: (
    $height + 30vw
  ),
  clipped-length-xs: $clipped-length,
  clipped-shape-width-sm: (
    $width + 50vw
  ),
  clipped-shape-height-sm: (
    $height + 20vw
  ),
  clipped-length-sm: $clipped-length,
  clipped-shape-width-md: $width + 30vw,
  clipped-shape-height-md: $height * 2,
  clipped-length-md: $clipped-length,
  clipped-shape-width-lg: $width + 10vw,
  clipped-shape-height-lg: $height + 15vw,
  clipped-length-lg: $clipped-length,
  clipped-shape-width-xlg: $width + 5vw,
  clipped-shape-height-xlg: $height + 10vw,
  clipped-length-xlg: $clipped-length,
  clipped-shape-width-xxlg: $width,
  clipped-shape-height-xxlg: $height,
  clipped-length-xxlg: $clipped-length
);

// use /deep/ to apply scss classes to the child components
div /deep/ {
  @include filled-half-clipped-shape($widths-and-heights, rgba($primary, 0.7));
}