@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../shared/single-clipped-shape.scss";

.hero-carousel {
  position: absolute;
  bottom: 15%;
  @include is-extra-small-mobile {
    top: 20%;
  }
  @include is-mobile {
    top: 20%;
  }
  &__wrapper {
    display: flex;
    @include is-extra-small-mobile {
      display: block;
    }
    @include is-mobile {
      display: block;
    }
  }
  &__text {
    position: relative;
    height: 100%;
    width: 60%;
    margin: 0 $half-clipped-shape-padding;
    @include is-extra-small-mobile {
      width: 100%;
      height: 40%;
    }
    @include is-mobile {
      width: 100%;
      height: 40%;
    }
  }
  &__media {
    z-index: 1000;
    position: relative;
    height: 100%;
    width: 40%;
    @include is-extra-small-mobile {
      width: 100%;
    }
    @include is-mobile {
      width: 100%;
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      @include is-extra-small-mobile {
        height: 50%;
      }
      @include is-mobile {
        height: 50%;
      }
    }
    video {
      object-fit: cover;
      height: 100%;
      width: 100%;
      &:focus {
        outline: none;
      }
      @include is-extra-small-mobile {
        height: 50%;
      }
      @include is-mobile {
        height: 50%;
      }
    }
  }
  &__title {
    font-family: "Segoe UI Bold";
    position: absolute;
    width: 100%;
    text-align: left;
    margin: auto;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 3rem;
    @include is-extra-small-mobile {
      font-size: 1.3rem;
      padding-top: 0px;
      padding-left: 0px;
    }
    @include is-mobile {
      font-size: 1.8rem;
      padding-left: 0px;
    }
    @include is-tablet {
      font-size: 2rem;
    }

    @include is-desktop {
      font-size: 2rem;
    }
    @include is-large-desktop {
      font-size: 2.2rem;
    }
  }
  &__content {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 120px;
    padding-left: 30px;
    text-align: left;
    z-index: 999;
    @include is-extra-small-mobile {
      top: 30px;
      font-size: 0.8rem;
      line-height: 20px;
      padding-left: 0px;
    }
    @include is-mobile {
      padding-left: 0px;
    }
  }
  &__url {
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 30px;
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    z-index: 1001;
    @include is-extra-small-mobile {
      font-size: 16px;
      padding-left: 0px;
    }
    @include is-mobile {
      font-size: 16px;
      padding-left: 0px;
    }
    span {
      font-size: 30px;
      font-weight: bold;
      margin-left: 5px;
      @include is-extra-small-mobile {
        font-size: 20px;
      }
      @include is-mobile {
        font-size: 20px;
      }
    }
    &:hover {
      color: white;
    }
    @include is-extra-small-mobile {
      bottom: 10px;
    }
    @include is-mobile {
      bottom: 0px;
    }
    @include is-tablet {
      bottom: 20px;
    }
    @include is-desktop {
      bottom: 30px;
    }
    @include is-large-desktop {
      bottom: 20px;
    }
    @include is-extra-large-desktop {
      bottom: 0px;
    }
  }
}

/deep/ .hero-bullets {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: auto;
  z-index: 1000;
}
@media (max-width: 600px) {
  .carousel-wrapper {
    margin-top: 0;
    min-height: auto;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  /deep/ .single-filled-box {
    min-height: 300px;
  }
  /deep/ .hero-bullets {
    bottom: 7%;
  }
}

// All have vw as divide operation units must be the same for all
$width: 55vw;
$height: 20vw;
$clipped-length: 3vw;

$widths-and-heights: (
  clipped-shape-width: $width,
  clipped-shape-height: $height,
  clipped-length: $clipped-length,
  clipped-shape-width-xs: (
    $width + 45vw
  ),
  clipped-shape-height-xs: (
    $height + 90vw
  ),
  clipped-length-xs: $clipped-length,
  clipped-shape-width-sm: (
    $width + 45vw
  ),
  clipped-shape-height-sm: (
    $height + 20vw
  ),
  clipped-length-sm: $clipped-length,
  clipped-shape-width-md: $width + 30vw,
  clipped-shape-height-md: $height * 2,
  clipped-length-md: $clipped-length,
  clipped-shape-width-lg: $width + 10vw,
  clipped-shape-height-lg: $height + 15vw,
  clipped-length-lg: $clipped-length,
  clipped-shape-width-xlg: $width + 7vw,
  clipped-shape-height-xlg: $height + 5vw,
  clipped-length-xlg: $clipped-length,
  clipped-shape-width-xxlg: $width,
  clipped-shape-height-xxlg: $height,
  clipped-length-xxlg: $clipped-length
);

// use /deep/ to apply scss classes to the child components
div /deep/ {
  @include bottom-single-clipped-shape(
    $widths-and-heights,
    rgba($primary, 0.95)
  );
}
