@import "../../color-palette.scss";
@import "../../mixins.scss";

.register-modal {
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  &::-webkit-scrollbar {
    width: 5px !important;
    background-color: $accent !important;
    border-radius: 20px !important;
    height: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }
  @include is-mobile {
    padding-top: 50px;
  }
}

/* Modal Content */
.register-modal-content {
  position: relative;
  background-color: $placeholder-background;
  border: 1px solid #1b90e2;
  margin: auto;
  padding: 0;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  @include is-mobile {
    width: 80%;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: $primary;
  float: right;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: black;
  border: 1px solid $primary;
  width: 20px;
  text-align: center;
}

.close:hover,
.close:focus {
  color: $primary;
  text-decoration: none;
  cursor: pointer;
}

.register-modal-header {
  padding: 2px 16px;
  color: white;
  h2 {
    margin: 15px 0;
  }
}

.register-modal-body {
  padding: 16px;
  padding-bottom: 55px;
  form {
    height: 100%;
    button {
      color: $primary !important;
      border: 1px solid $primary !important;
      background-color: black !important;
    }
  }
}

.form-group {
  label {
    color: $primary !important;
  }
  input {
    color: $primary !important;
    border: 1px solid $primary !important;
    background-color: black !important;
    &::placeholder {
      color: $primary !important;
      opacity: 0.7;
    }
  }
}

$preview-image: 160px;
.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  height: $preview-image; /* minimum height */
  width: 70%;
  margin: auto;
  position: relative;
  cursor: pointer;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: $preview-image;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
}

.preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  max-width: 100%;
  height: $preview-image;
  border-radius: 10px !important;
  border: 1px solid $primary;
}

.preview__close {
  position: absolute;
  top: -20px;
  right: 0;
  color: white;
  float: right;
  font-size: 30px;
  float: right;
  cursor: pointer;
  width: 20px;
  margin-bottom: 0;
  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}
.form-control {
  background-color: black !important;
  border: 1px solid #2af3f3 !important;
  color: #2af3f3 !important;
}

.input-group-text {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  width: 150px !important;
}
.input-group-prepend {
  display: flex !important;
}
