@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../shared/half-clipped-shape.scss";

$left: 25px;
$shift: 40px;

$extra-lg-dim: calc(#{$slide-height} + #{$shift});
$extra-mob-dim: $slide-height-mobile;

.services-carousel {
  padding-bottom: 0;
  position: relative;
  z-index: 101;
  .services-header {
    margin: 50px 0 0 12%;
    &__sub-text {
      color: $header-item;
    }
    &__title {
      color: $black-text;
      font-family: "Arial Bold";
      font-weight: bolder;
      font-size: 2rem;
      letter-spacing: 4px;
      margin-bottom: 0;
    }
    &__view-link {
      color: $accent;
    }
  }
  &__text {
    position: relative;
    height: 100%;
  }
  &__img-wrapper {
    text-align: right;
    z-index: 200;
    @include is-extra-small-mobile {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    @include is-mobile {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    @include is-tablet {
      margin-top: -$shift/2;
    }
    @include is-desktop {
      margin-top: -$shift/2;
    }
    @include is-large-desktop {
      margin-top: -$shift/2;
    }
    @include is-extra-large-desktop {
      margin-top: -$shift/2;
    }
  }
  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    // position: absolute;
    // right: 0;
    // top: 0;
    @include is-extra-small-mobile {
      position: relative;
      height: $extra-mob-dim;
      width: 100%;
      filter: brightness(20%);
    }
    @include is-mobile {
      position: relative;
      height: $extra-mob-dim;
      width: 100%;
      filter: brightness(20%);
    }
    // @include is-mobile {
    //   position: relative;
    //   width: 95vw;
    //   left: -23%;
    //   transform: scale(1.1);
    //   // height: 100%;
    //   filter: brightness(30%);
    // }
    // @include is-tablet {
    //   position: relative;
    //   width: 95vw;
    //   left: -23%;
    //   transform: scale(1.1);
    //   // height: 100%;
    //   filter: brightness(30%);
    // }
    // @include is-desktop {
    //   // height: 97%;
    // }
    // @include is-large-desktop {
    //   // height: 98%;
    // }
    @include is-extra-large-desktop {
      height: $extra-lg-dim;
      width: calc(#{$extra-lg-dim} + 150px);
    }
    @media (min-width: 1400px) and (max-width: 1599px) {
      // height: 100%;
    }
    @media (min-width: 1600px) {
      // height: 100%;
    }
  }
  &__work-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-right: 20px;
    @include is-extra-small-mobile {
      padding-right: 0px;
      position: relative;
      width: 100vw;
      height: 100vh;
      left: -23%;
      transform: scale(1.1);
      filter: brightness(20%);
    }
    @include is-mobile {
      padding-right: 0px;
      position: relative;
      width: 95vw;
      left: -23%;
      transform: scale(1.1);
      height: 100%;
      filter: brightness(20%);
    }
    @include is-tablet {
      padding-right: 0px;
      position: relative;
      width: 95vw;
      left: 0;
      transform: scale(1.1);
      // height: 100%;
      filter: brightness(30%);
    }
    @include is-desktop {
      // height: 97%;
    }
    @include is-large-desktop {
      // height: 98%;
    }
    @media (min-width: 1400px) and (max-width: 1599px) {
      // height: 98%;
    }
    @media (min-width: 1600px) {
      // height: 100%;
    }
  }
  &__title {
    width: fit-content;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    font-size: 1.6rem;
    text-align: left;
    color: $white-text;
    margin-bottom: 0;
    text-transform: uppercase;
    z-index: 10;
    @include is-extra-small-mobile {
      font-size: 1.2rem;
      margin-top: 80px;
    }
    @include is-mobile {
      font-size: 1.2rem;
      margin-top: 80px;
    }
    @include is-tablet {
      font-size: 1.7rem;
    }
    @include is-desktop {
      font-size: 1.7rem;
    }
  }
  &__content {
    width: calc(100% - #{$left});
    text-align: left;
    font-family: Arial;
    font-size: 1.2rem;
    line-height: 20px;
    margin-top: 10px;
    position: absolute;
    top: 60px;
    right: 0;
    color: $white-text;
    z-index: 10;
    padding-right: 10px;
    @include is-extra-small-mobile {
      padding-top: 60px;
      font-size: 0.9rem;
      height: 70%;
      overflow-y: scroll;
    }
    @include is-mobile {
      padding-top: 10px;
      font-size: 1rem;
    }

    @include is-tablet {
      padding-top: 10px;
      font-size: 1rem;
    }

    @include is-desktop {
      padding-top: 10px;
      font-size: 1rem;
    }
  }
  &__btn {
    position: absolute;
    bottom: 20px;
    right: 35px;
    font-size: 0.8rem;
    cursor: pointer;
    z-index: 100;
    color: $black-text;
    background-color: $white-text;
    padding: 5px 12px;
    border-radius: 5px;
    border: 1px $blue-stroke solid;
    outline: none;
    box-shadow: 0 0 3px $blue-stroke;
    @include is-extra-small-mobile {
      bottom: 15px;
    }
    @include is-mobile {
      bottom: 15px;
    }
  }
}

/deep/ div.outline-box__inside.outline-box__inside--is-button {
  background-color: $accent;
  color: $header-item;
  &:hover {
    background-color: $accent;
    color: $header-item;
  }
}
/deep/ .outline-box {
  height: 50px !important;
  width: 158px !important;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
/deep/ .hero-bullets {
  display: none;
}
/deep/ .half-filled-box {
  // min-height: 555px;
}

@media (max-width: 1600px) {
  /deep/ .half-filled-box {
    // min-height: 675px;
  }
}
@media (max-width: 1100px) {
  /deep/ .half-filled-box {
    // min-height: 820px;
  }
}
@media (max-width: 767px) {
  /deep/ .half-filled-box {
    // min-height: 993px;
  }
}
@media (max-width: 600px) {
  /deep/ .half-filled-box {
    // min-height: 90vh;
  }
}
// /deep/ .carousel-wrapper__slide {
//   padding-left: 40px;
//   @include is-extra-small-mobile {
//     padding-left: 0px;
//   }
//   @include is-mobile {
//     padding-left: 0px;
//   }
// }
/deep/ .work-carousel-wrapper {
  margin-top: 0;
  min-height: auto;
}
/deep/ .work-carousel-wrapper__slide {
  padding-right: 40px;
  @include is-extra-small-mobile {
    padding-right: 0px;
  }
  @include is-mobile {
    padding-right: 0px;
  }
}
/deep/ .work-carousel-navigation {
  position: absolute;
  right: 2%;
  margin-top: 25px;
  z-index: 120;
  @include is-extra-small-mobile {
    left: 1.5%;
    right: unset;
  }
  @include is-mobile {
    left: 1.5%;
    right: unset;
  }
  @include is-tablet {
    left: 1.5%;
    right: unset;
  }
  button {
    margin: 20px 20px 20px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    img {
      width: 85%;
    }
  }
}
/deep/ .carousel-navigation {
  position: absolute;
  left: 1%;
  z-index: 120;
  width: 65%;
  @include is-extra-small-mobile {
    left: 4%;
    width: 100%;
  }
  @include is-mobile {
    left: 4%;
    width: 100%;
  }
  button {
    margin: 20px 20px 20px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    img {
      width: 85%;
    }
    &:nth-child(1) {
      float: left;
    }
    &:nth-child(2) {
      float: right;
    }
  }
}
@media (max-width: 600px) {
  /deep/ .carousel-wrapper {
    margin-top: 0;
    min-height: auto;
    &__slide {
      padding-left: 0px;
    }
  }
}
// All have vw as divide operation units must be the same for all
$width: 80%;

$widths-and-heights: (
  clipped-shape-width: $width,
  clipped-shape-height: $slide-height,
  clipped-shape-width-xs: (
    $width
  ),
  clipped-shape-height-xs: (
    $slide-height-mobile
  ),
  clipped-shape-width-sm: (
    $width
  ),
  clipped-shape-height-sm: (
    $slide-height-mobile
  ),
  clipped-shape-width-md: $width,
  clipped-shape-height-md: $slide-height,
  clipped-shape-width-lg: $width,
  clipped-shape-height-lg: $slide-height,
  clipped-shape-width-xlg: $width,
  clipped-shape-height-xlg: $slide-height,
  clipped-shape-width-xxlg: $width,
  clipped-shape-height-xxlg: $slide-height
);

// use /deep/ to apply scss classes to the child components
div /deep/ {
  @include filled-half-clipped-shape($widths-and-heights, $form-background);
}
