@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../shared/half-clipped-shape.scss";

.services-carousel {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $primary;
  position: relative;
  .services-header {
    text-align: center;
    padding-bottom: 100px;
    &__sub-text {
      color: $header-item;
    }
    &__title {
      color: $header-item;
      font-family: "Segoe UI Bold";
      font-size: 2.6rem;
      letter-spacing: 4px;
    }
    &__view-link {
      color: $accent;
    }
  }
  &__text {
    position: relative;
    height: 100%;
  }
  &__img-wrapper {
    @include is-extra-small-mobile {
      position: absolute;
      top: 0;
      left: 0;
    }
    @include is-mobile {
      position: absolute;
      top: 0;
      left: 0;
    }
    @include is-tablet {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
    @include is-desktop {
      position: relative;
    }
  }
  &__img {
    object-fit: cover;
    width: 90%;
    height: 96%;
    position: absolute;
    left: 5%;
    top: 0px;
    @include is-extra-small-mobile {
      position: relative;
      width: 100vw;
      height: 100vh;
      left: -23%;
      transform: scale(1.1);
      filter: brightness(30%);
    }
    @include is-mobile {
      position: relative;
      width: 95vw;
      left: -23%;
      transform: scale(1.1);
      height: 100%;
      filter: brightness(30%);
    }
    @include is-tablet {
      position: relative;
      width: 95vw;
      left: -23%;
      transform: scale(1.1);
      height: 100%;
      filter: brightness(30%);
    }
    @include is-large-desktop {
      height: 95vh;
    }
  }
  &__title {
    width: 100%;
    font-family: "Segoe UI Bold";
    position: absolute;
    padding-top: 80px;
    font-size: 2rem;
    text-align: left;
    color: $accent;
    margin-bottom: 0;
    text-transform: uppercase;
    z-index: 10;
    @include is-extra-small-mobile {
      font-size: 1.5rem;
    }
    @include is-mobile {
      font-size: 1.7rem;
    }
    @include is-tablet {
      font-size: 1.7rem;
    }
    @include is-desktop {
      font-size: 1.7rem;
    }
  }
  &__content {
    width: 100%;
    text-align: left;
    font-family: "Segoe UI";
    font-size: 1.2rem;
    line-height: 35px;
    margin-top: 10px;
    position: absolute;
    top: 170px;
    color: white;
    z-index: 10;
    @include is-extra-small-mobile {
      padding-top: 10px;
      font-size: 0.9rem;
      height: 50%;
      overflow-y: scroll;
    }
    @include is-mobile {
      padding-top: 10px;
      font-size: 1rem;
    }

    @include is-tablet {
      padding-top: 10px;
      font-size: 1rem;
    }

    @include is-desktop {
      padding-top: 10px;
      font-size: 1rem;
    }
  }
  &__btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    cursor: pointer;
    z-index: 100;
    @include is-extra-small-mobile {
      bottom: 0;
    }
    @include is-mobile {
      bottom: 0;
    }
  }
}

/deep/ div.outline-box__inside.outline-box__inside--is-button {
  background-color: $accent;
  color: $header-item;
  &:hover {
    background-color: $accent;
    color: $header-item;
  }
}
/deep/ .outline-box {
  height: 50px !important;
  width: 158px !important;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
/deep/ .hero-bullets {
  display: none;
}
/deep/ .half-filled-box {
  min-height: 555px;
}

@media (max-width: 1600px) {
  /deep/ .half-filled-box {
    min-height: 675px;
  }
}
@media (max-width: 1100px) {
  /deep/ .half-filled-box {
    min-height: 820px;
  }
}
@media (max-width: 767px) {
  /deep/ .half-filled-box {
    min-height: 993px;
  }
}
@media (max-width: 600px) {
  /deep/ .half-filled-box {
    min-height: 90vh;
  }
}
/deep/ .carousel-wrapper__slide {
  padding-left: 40px;
  @include is-extra-small-mobile {
    padding-left: 0px;
  }
  @include is-mobile {
    padding-left: 0px;
  }
}
/deep/ .carousel-navigation {
  position: absolute;
  left: 2%;
  margin-top: 25px;
  z-index: 120;
  button {
    margin: 20px 20px 20px 10px;
    background-color: transparent;
    border: none;
    outline: none;
    img {
      width: 85%;
    }
  }
}
@media (max-width: 600px) {
  /deep/ .carousel-wrapper {
    margin-top: 0;
    min-height: auto;
    &__slide {
      padding-left: 0px;
    }
  }
}
// All have vw as divide operation units must be the same for all
$width: 85vw;
$height: 20vw;
$clipped-length: 0vw;
// $clipped-length: 4vw;

$widths-and-heights: (
  clipped-shape-width: $width,
  clipped-shape-height: $height,
  clipped-length: $clipped-length * 0,
  clipped-shape-width-xs: (
    $width + 10vw
  ),
  clipped-shape-height-xs: (
    $height + 10vw
  ) * 2,
  clipped-length-xs: $clipped-length * 0,
  clipped-shape-width-sm: (
    $width + 10vw
  ),
  clipped-shape-height-sm: (
    $height + 5vw
  ),
  clipped-length-sm: $clipped-length * 0,
  clipped-shape-width-md: $width + 10vw,
  clipped-shape-height-md: $height * 2,
  clipped-length-md: $clipped-length,
  clipped-shape-width-lg: $width + 10vw,
  clipped-shape-height-lg: $height + 30vw,
  clipped-length-lg: $clipped-length,
  clipped-shape-width-xlg: $width + 5vw,
  clipped-shape-height-xlg: $height + 30vw,
  clipped-length-xlg: $clipped-length,
  clipped-shape-width-xxlg: $width,
  clipped-shape-height-xxlg: $height + 10vw,
  clipped-length-xxlg: $clipped-length
);

// use /deep/ to apply scss classes to the child components
div /deep/ {
  @include filled-half-clipped-shape($widths-and-heights, $form-background);
}
