@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../shared/half-clipped-shape.scss";

// All have vw as divide operation units must be the same for all
$height: 10vw;
$height-xs: $height + 30vw;
$height-sm: $height + 15vw;
$height-md: $height + 8vw;
$height-lg: $height + 5vw;
$height-xlg: $height + 5vw;
$height-xxlg: $height;

$width: 85vw;
$width-xs: $width + 5vw;
$width-sm: $width + 5vw;
$width-md: $width + 10vw;
$width-lg: $width + 7vw;
$width-xlg: $width;
$width-xxlg: $width;

$clipped-length: 3vw;

$total-padding: $half-clipped-shape-padding * 2;

.sponsors-carousel-wrapper {
  padding-top: 0px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1001;
  @include is-extra-small-mobile {
    bottom: -$height-xs/2;
  }
  @include is-mobile {
    bottom: -$height-sm/2;
  }
  @include is-tablet {
    bottom: -$height-md/2;
  }
  @include is-desktop {
    bottom: -$height-lg/2;
  }
  @include is-large-desktop {
    bottom: -$height-xlg/2;
  }
  @include is-extra-large-desktop {
    bottom: -$height-xxlg/2;
  }
  &__slide {
    cursor: pointer;
    display: flex !important;
    justify-content: center;
    align-items: center;
    img {
      max-width: 100%;
      max-height: 100%;
      padding: 5px;
    }
  }
  &__body {
    background-color: $form-background;
    width: 80%;
    margin: 0 auto;
    border-radius: 100px;
    height: 80px;
    div {
      width: 86%;
      height: 100%;
      margin: auto;
    }
    .custom-arrow.slick-prev {
      margin-left: -20px;
    }
    .custom-arrow.slick-next {
      margin-right: -20px;
    }
    .custom-arrow {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid white;
      @include is-extra-small-mobile {
        display: none;
      }
      @include is-mobile {
        display: none;
      }
      img {
        width: auto;
        height: 60%;
        max-height: 60%;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }
}
