@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../shared/half-clipped-shape.scss";

$carousel-height: 500px;

.work-carousel {
  position: relative;

  @include is-extra-small-mobile {
    margin-bottom: 35%;
  }
  @include is-mobile {
    margin-bottom: 20%;
  }
  @include is-tablet {
    margin-bottom: 10%;
  }
  @include is-desktop {
    margin-bottom: 10%;
  }
  @include is-large-desktop {
    margin-bottom: 10%;
  }
  @include is-extra-large-desktop {
    margin-bottom: 10%;
  }
  .work-header {
    text-align: center;
    padding-bottom: 50px;
    &__sub-text {
      color: $header-item;
    }
    &__title {
      color: $header-item;
      font-family: "Segoe UI Bold";
      font-size: 2.6rem;
      letter-spacing: 4px;
    }
    &__view-link {
      color: $accent;
    }
  }
  &__bg {
    position: absolute;
    width: 50%;
    right: 10%;
    // top: 20%;
    cursor: pointer;
    height: $carousel-height;
    background-color: $accent;
    @include is-extra-small-mobile {
      background-color: transparent;
    }
    @include is-mobile {
      background-color: transparent;
    }
    @include is-tablet {
      background-color: transparent;
    }
    @include is-desktop {
      height: 560px !important;
    }
    @include is-large-desktop-or-less {
      width: 60%;
      height: 520px;
    }
    // @include is-desktop-or-less {
    //   height: 1280px;
    // }
    @include is-767px-or-less {
      height: 650px;
    }
  }
  // &__big-mask {
  //   position: absolute;
  //   width: calc(100% - 63%);
  //   cursor: pointer;
  //   left: 0;
  //   z-index: 1000;
  //   height: $carousel-height;
  //   background-color: $primary;
  //   @include is-large-desktop-or-less {
  //     display: none;
  //   }
  //   @include is-desktop-or-less {
  //     height: 1280px;
  //   }
  //   @include is-767px-or-less {
  //     height: 650px;
  //   }
  // }
  &__carousel-container {
    width: 100%;
    height: $carousel-height;
    @include is-mobile {
    }
    @include is-tablet {
    }
    @include is-desktop-or-less {
      width: 100%;
      margin: 0;
      height: 600px;
    }
    @include is-767px-or-less {
      height: 650px;
    }
  }
  &__inside {
    position: relative;
    &__img {
      position: absolute;
      left: 8%;
      z-index: 1001;
      width: 40%;
      max-height: 125%;
      height: 125%;
      margin-top: -3.5%;
      @include is-extra-small-mobile {
        position: absolute;
        top: 0;
        left: 0;
        filter: brightness(30%);
        margin-top: 0 !important;
        z-index: unset;
      }
      @include is-extra-small-mobile {
        z-index: unset;
        position: relative;
        width: 100vw;
        left: 0 !important;
        transform: scale(1);
        height: 100%;
        filter: brightness(30%);
      }
      @include is-mobile {
        z-index: unset;
        position: relative;
        width: 100vw;
        left: 0 !important;
        transform: scale(1);
        height: 100%;
        filter: brightness(30%);
      }
      @include is-tablet {
        position: relative;
        width: 100vw;
        left: 0 !important;
        transform: scale(1);
        height: 100%;
        filter: brightness(30%);
      }
      @include is-1600-or-less {
        left: 2%;
      }
      @include is-extra-small-mobile {
        max-height: 110%;
        height: 110%;
      }
      @include is-mobile {
        max-height: 110%;
        height: 110%;
      }
      @include is-desktop {
        max-height: 110%;
        height: 110%;
      }
      @include is-large-desktop-or-less {
        position: relative;
        left: 5%;
        // margin-top: 30px;
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
    &__title {
      font-family: "Segoe UI Bold";
      font-size: 2.4rem;
      height: max-content;
      width: 60%;
      position: absolute;
      top: 0;
      margin-top: 0;
      word-wrap: break-word;
      @include is-extra-small-mobile {
        font-size: 1.2rem;
        left: 0;
      }
      @include is-mobile {
        font-size: 1.4rem;
        left: 30%;
      }
      @include is-tablet {
        font-size: 1.6rem;
        left: 30%;
      }
      @include is-desktop {
        font-size: 1.6rem;
        left: 10%;
      }
      @include is-large-desktop {
        font-size: 1.8rem;
        left: 20%;
      }
      @include is-extra-large-desktop {
        left: 30%;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        // top: 55px;
        left: 0px;
        height: 4px;
        width: 55%;
        background: $header-item;
      }
    }
    &__content {
      position: absolute;
      top: 80px;
      margin-top: 15px;
      width: 50%;
      height: 30%;
      font-size: 1.2rem;
      @include is-extra-small-mobile {
        width: 100%;
        height: 80%;
        font-size: 1rem;
        left: 0;
        * {
          word-wrap: break-word;
        }
      }
      @include is-mobile {
        font-size: 1.2rem;
        left: 30%;
      }
      @include is-tablet {
        font-size: 1.4rem;
        left: 30%;
      }
      @include is-desktop {
        font-size: 1.6rem;
        left: 10%;
      }
      @include is-large-desktop {
        font-size: 1.8rem;
        left: 20%;
      }
      @include is-extra-large-desktop {
        left: 30%;
      }
    }
    &__text {
      color: $header-item;
      width: 63%;
      margin-left: auto;
      position: relative;
      z-index: 900;
      overflow: hidden;
      @include is-extra-small-mobile {
        z-index: unset;
        font-size: 1.1rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 68vh;
        width: 75%;
        margin: 5%;
        padding: 10px;
      }
      @include is-extra-small-mobile {
        height: 75vh;
        z-index: 2000;
        position: absolute;
        top: 10%;
        left: 10%;
      }
      @include is-mobile {
        font-size: 1.1rem;
        z-index: 2000;
        position: absolute;
        top: 10%;
        left: 10%;
      }
      @include is-tablet {
        font-size: 1.2rem;
        z-index: 2000;
        position: absolute;
        top: 10%;
        left: 10%;
      }
      @include is-desktop {
        font-size: 1.2rem;
        position: absolute;
        top: 10%;
        right: 0%;
        width: 50%;
      }
      font-size: 1.2rem;
      @include is-large-desktop {
        position: absolute;
        top: 10%;
        right: 10%;
        width: 50%;
      }
      @include is-extra-large-desktop {
        width: 60%;
      }
    }
    &__mask {
      width: 120px;
      min-height: 650px;
      background-color: $accent;
      position: absolute;
      right: 0;
      z-index: 1000;
      @media (min-width: 1400px) and (max-width: 1600px) {
        width: 50px;
      }
      @media (max-width: 1400px) {
        width: 0;
      }
    }
    &__text-container {
      position: relative;
      min-height: 650px;
      // border-right: solid 1px $header-item;
      margin-top: 110px;
      // margin-left: 320px;
      // z-index: 1000;
      margin-right: 120px;
      @include is-large-desktop-or-less {
        margin-right: 0;
        padding-right: 0;
        margin-top: 50px;
        // margin-left: 0;
        // border-right: none;
        min-height: 455px;
      }
      @include is-1600-or-less {
        margin-right: 50px;
        padding-right: 50px;
      }
      @include is-desktop-or-less {
        // margin-left: 0px;
        margin-top: 0px;
        min-height: 400px;
      }
      @include is-767px-or-less {
        border-right: 0;
        margin-right: 0px;
        padding-right: 30px;
      }
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 3000;
    position: absolute;
    bottom: 7%;
    right: 30%;
    @include is-extra-small-mobile {
      bottom: 4%;
      left: 0%;
    }
    @include is-mobile {
      bottom: 4%;
      left: 30%;
    }
    @include is-tablet {
      bottom: 4%;
      left: 30%;
    }
    @include is-large-desktop {
      bottom: 0%;
    }
  }
}

/deep/ div.outline-box__inside.outline-box__inside--is-button {
  background-color: $header-item;
  color: $accent;
  width: 155px;
  font-size: 1.1rem;
  &:hover {
    background-color: $header-item;
    color: $accent;
  }
}
/deep/ .outline-box {
  height: 50px !important;
  width: 158px !important;
}
/deep/ .hero-bullets {
  display: none;
}
/deep/ .carousel-navigation {
  position: absolute;
  right: 12%;
  bottom: 8%;
  z-index: 2000;
  @include is-extra-small-mobile {
    bottom: 5%;
    right: 5%;
  }
  @include is-mobile {
    bottom: 8%;
    right: 5%;
  }
  @include is-desktop {
    bottom: 15%;
    right: 12%;
  }
  @include is-extra-large-desktop {
    bottom: 8%;
    right: 12%;
  }
  @include is-large-desktop {
    bottom: 10%;
    right: 12%;
  }
  @include is-tablet {
    bottom: 10%;
    right: 2%;
  }
  button {
    margin: 5px;
    background-color: transparent;
    border: none;
    outline: none;
    img {
      width: 85%;
    }
  }
}
/deep/ .half-filled-box {
  padding: 0 !important;
}
/deep/ .carousel-wrapper {
  margin-top: 0;
  min-height: auto;
}
// All have vw as divide operation units must be the same for all
$width: 750px;
$height: 750px;
$clipped-length: 90px;

$widths-and-heights: (
  clipped-shape-width: $width,
  clipped-shape-height: $height,
  clipped-length: $clipped-length,
  clipped-shape-width-xs: (
    $width - 390px
  ),
  clipped-shape-height-xs: (
    $height - 250px
  ),
  clipped-length-xs: 1px,
  clipped-shape-width-sm: (
    $width - 250px
  ),
  clipped-shape-height-sm: (
    $height - 250px
  ),
  clipped-length-sm: $clipped-length,
  clipped-shape-width-md: $width - 200px,
  clipped-shape-height-md: $height - 200px,
  clipped-length-md: $clipped-length,
  clipped-shape-width-lg: $width - 150px,
  clipped-shape-height-lg: $height - 150px,
  clipped-length-lg: $clipped-length,
  clipped-shape-width-xlg: $width - 150px,
  clipped-shape-height-xlg: $height - 150px,
  clipped-length-xlg: $clipped-length,
  clipped-shape-width-xxlg: $width,
  clipped-shape-height-xxlg: $height,
  clipped-length-xxlg: $clipped-length
);

// use /deep/ to apply scss classes to the child components
div /deep/ {
  @include filled-half-clipped-shape($widths-and-heights, transparent);
}
