@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../shared/half-clipped-shape.scss";

@mixin is-desktop-or-less {
  // Extra large devices (large desktops, 1200px and up)
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin is-767px-or-less {
  // Extra large devices (large desktops, 1200px and up)
  @media (max-width: 767px) {
    @content;
  }
}
.work-carousel{
    .work-header{
      text-align: center;
      padding-bottom: 100px;
      &__sub-text{
        color: $header-item;
      }
      &__title{
        color: $header-item;
        font-family: 'Segoe UI Bold';
        font-size: 2.6rem;
        letter-spacing: 4px;
      }
      &__view-link{
        color: $accent;
      }
    }
    &__carousel-container{
      width: 63%;
      margin-left: auto;
      height: 920px;
      @include is-desktop-or-less {
        width: 100%;
        margin: 0;
        height: 1350px;
      }
    }
    &__inside{
      background-color: $accent;
      &--img{
        display: flex;
        left: -30%;
        @include is-desktop-or-less {
          left: 0%;
        }
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
      &--title{
        font-family: 'Segoe UI Bold';
        font-size: 2.5rem;
        position: relative;
        height: 48px;
        @include is-extra-small-mobile {
          font-size: 1.6rem;
        }
        @include is-mobile {
          font-size: 1.6rem;
        }
        @include is-tablet {
          font-size: 1.6rem;
        }
        @include is-desktop {
          font-size: 1.6rem;
        }
        @include is-large-desktop {
          font-size: 1.8rem;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          top: 55px;
          left: 0px;
          height: 4px;
          width: 35%;
          background: $header-item;
        }
      }
      &--text{
        color: $header-item;
        @include is-extra-small-mobile {
          font-size: 1.1rem;
        }
        @include is-mobile {
          font-size: 1.1rem;
        }
        @include is-tablet {
          font-size: 1.2rem;
        }
        @include is-desktop {
          font-size: 1.2rem;
        }
        @include is-large-desktop {
          font-size: 1.4rem;
        }
      }
      &--text-container{
        min-height: 650px;
        border-right: solid 1px white;
        margin-top: 110px;
        margin-left: -250px;
        margin-right: 150px;
        padding-right: 100px;
        @include is-desktop-or-less{
          margin-left: 0px;
          margin-top: 0px;
          min-height: 400px;
        }
        @include is-767px-or-less {
          border-right: 0;
          margin-right: 0px;
          padding-right: 30px;
        }
      }
    }
    &__btn{
      margin-left: -85px;
      @include is-desktop-or-less{
        margin-left: 0px;
        display: flex;
        justify-content: center;
      }
    }
}

/deep/ div.outline-box__inside.outline-box__inside--is-button{
  background-color: $header-item;
  color: $accent;
  width: 155px;
  font-size: 1.1rem;
  &:hover{
    background-color: $header-item;
    color: $accent;
  }
}
/deep/ .outline-box{
  height: 50px!important;
  width: 158px!important;
}
/deep/ .hero-bullets{
  display: none;
}
/deep/ .carousel-navigation{
  position: absolute;
  right: 125px;
  bottom: 11%;
  @include is-desktop-or-less{
    bottom: 4%;
  }
  @include is-767px-or-less {
    bottom: 0%;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  button{
    margin:5px;
    background-color: transparent;
    border: none;
    outline: none;
    img{
      width: 85%;
    }
  }
}
/deep/ .half-filled-box{
  padding: 0!important;
  margin-top: 110px!important;
  min-height: 650px!important;
}
@include is-extra-large-desktop {
  /deep/ .half-filled-box{
    min-height: 600px;
  }
}
  // All have vw as divide operation units must be the same for all
$width: 47vw;
$height: 16vw;
$clipped-length: 1vw;

$widths-and-heights: (
  clipped-shape-width: $width,
  clipped-shape-height: $height,
  clipped-length: $clipped-length,
  clipped-shape-width-xs: (
    $width + 50vw
  ),
  clipped-shape-height-xs: (
    $height + 30vw
  ),
  clipped-length-xs: $clipped-length,
  clipped-shape-width-sm: (
    $width + 50vw
  ),
  clipped-shape-height-sm: (
    $height + 30vw
  ),
  clipped-length-sm: $clipped-length,
  clipped-shape-width-md: $width + 30vw,
  clipped-shape-height-md: $height * 2,
  clipped-length-md: $clipped-length,
  clipped-shape-width-lg: $width + 10vw,
  clipped-shape-height-lg: $height + 15vw,
  clipped-length-lg: $clipped-length,
  clipped-shape-width-xlg: $width + 5vw,
  clipped-shape-height-xlg: $height + 30vw,
  clipped-length-xlg: $clipped-length,
  clipped-shape-width-xxlg: $width,
  clipped-shape-height-xxlg: $height,
  clipped-length-xxlg: $clipped-length
);

// use /deep/ to apply scss classes to the child components
div /deep/ {
  @include filled-half-clipped-shape($widths-and-heights, transparent);
}