@import "../../variables.scss";
@import "../../color-palette.scss";
@import "../../mixins.scss";

.testimonial-card-wrapper {
  text-align: center;
  padding: 20px;
  .testimonial-card-profile {
    position: relative;
    width: 120px;
    height: 100px;
    margin: 5px auto;
    filter: drop-shadow(0 0 4px #175e90);
    &__outside {
      position: relative;
      width: 100%;
      height: 100%;
      background: #175e90;
      @include create-hexa-shape();
    }

    &__inside {
      display: flex;
      position: absolute;
      top: $border-thickness;
      left: $border-thickness;
      right: $border-thickness;
      bottom: $border-thickness;
      font-size: 1.05rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;
      @include create-hexa-shape();
    }
    &__bg-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      display: block;
      object-fit: cover;
      @include create-hexa-shape();
    }
  }
  &__content {
    h2 {
      color: white;
      font-size: 1.4rem;
      margin-top: 20px;
      word-break: break-word;
      @include is-mobile {
        font-size: 1.2rem;
      }
    }
    .description-container {
      font-size: 1rem;
      text-align: left;
      margin-top: 15px;
    }
  }
}

.vue-star-rating {
  justify-content: center !important;
}
