/*           Font Smoothing      */
body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif !important;
  font-weight: $font-weight-normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: $font-weight-light;
  margin: $margin-large-vertical 0 $margin-base-vertical;
  font-family: "Roboto" !important;
}

h1,
.h1 {
  font-size: $font-size-h1;
  font-family: "Roboto" !important;
}
h2,
.h2 {
  font-size: $font-size-h2;
  font-family: "Roboto" !important;
}
h3,
.h3 {
  font-size: $font-size-h3;
  margin: 20px 0 10px;
  font-family: "Roboto" !important;
}
h4,
.h4 {
  font-size: $font-size-h4;
  line-height: 30px;
  font-family: "Roboto" !important;
}
h5,
.h5 {
  font-size: $font-size-h5;
  margin-bottom: 15px;
  font-family: "Roboto" !important;
}
h6,
.h6 {
  font-size: $font-size-h6;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  font-family: "Roboto" !important;
}

.description > p > * {
  color: black !important;
  background-color: transparent !important;
}

.description > span > * > * {
  color: black !important;
  background-color: transparent !important;
}
.description > h1 > span > p > *,
.description > h2 > span > p > *,
.description > h3 > span > p > * {
  color: black !important;
  background-color: transparent !important;
}
p {
  font-size: $font-paragraph;
  line-height: $line-height-general;
  font-family: "Roboto" !important;
}
p > * {
  color: white !important;
  background-color: transparent !important;
  font-family: "Roboto" !important;
  word-break: break-word;
}
.multiselect__option.multiselect__option--highlight {
  color: black;
  &:hover {
    background: gray !important;
    color: white !important;
  }
}
.multiselect__option {
  color: black;
  &:hover {
    background: gray !important;
    color: white !important;
  }
}
.multiselect__option--selected.multiselect__option--highlight {
  background: gray !important;
  color: white !important;
}
.multiselect.multiselect--active {
  background-color: cadetblue !important;
}
.multiselect__tag {
  background-color: gray !important;
}
.multiselect__tag-icon:after {
  color: white !important;
}
span {
  background-color: transparent !important;
  font-family: "Roboto" !important;
}

.description-container {
  word-break: break-word;
  overflow: hidden;
  span {
    color: white !important;
    word-break: break-word;
  }
  span > * {
    color: white !important;
    word-break: break-word;
  }
  span > a {
    color: #2af3f3 !important;
    word-break: break-word;
    text-decoration: underline;
  }
  &--expand {
    height: 100%;
  }
  &--limit {
    height: 200px;
  }
}

.pell-content > p > * {
  color: black !important;
}
.pell-content span {
  color: black !important;
}

.pell-content {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background: white;
  &--is-invalid {
    border: 1px solid red !important;
  }
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: $dark-gray;
  font-weight: $font-weight-light;
  line-height: $line-height-general;
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 60%;
}

h1 .subtitle {
  display: block;
  margin: 0 0 $margin-large-vertical;
}

.text-muted {
  color: #9a9a9a;
}
.text-primary,
.text-primary:hover {
  color: #1d62f0 !important;
}
.text-info,
.text-info:hover {
  color: $info-color !important;
}
.text-success,
.text-success:hover {
  color: $success-color !important;
}
.text-warning,
.text-warning:hover {
  color: $warning-color !important;
}
.text-danger,
.text-danger:hover {
  color: $danger-color !important;
}
