/*           Font Smoothing      */
body {
  font-family: Arial;
}
body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
.btn-simple,
.alert,
a,
.td-name,
td,
button.close {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight-normal;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: $font-weight-light;
  margin: $margin-large-vertical 0 $margin-base-vertical;
}

h1,
.h1 {
  font-size: $font-size-h1;
}
h2,
.h2 {
  font-size: $font-size-h2;
}
h3,
.h3 {
  font-size: $font-size-h3;
  margin: 20px 0 10px;
}
h4,
.h4 {
  font-size: $font-size-h4;
  line-height: 30px;
}
h5,
.h5 {
  font-size: $font-size-h5;
  margin-bottom: 15px;
}
h6,
.h6 {
  font-size: $font-size-h6;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.description > p > * {
  color: black !important;
  background-color: transparent !important;
}

.description > span {
  font-size: 1rem !important;
  color: black !important;
}

.description > span > * > * {
  color: black !important;
  background-color: transparent !important;
}
.description > h1 > span > p > *,
.description > h2 > span > p > *,
.description > h3 > span > p > *,
.description > h4 > span > p > *,
.description > h5 > span > p > *,
.description > h6 > span > p > *,
.description > h1,
.description > h2,
.description > h3,
.description > h4,
.description > h5,
.description > h6 {
  color: black !important;
  background-color: transparent !important;
}

.event-tab-wrapper__details__description {
  span > * {
    font-size: 1rem !important;
  }
  span {
    font-size: 1rem !important;
  }
  span > a {
    color: #598cc2 !important;
    text-decoration: underline;
  }
}

p {
  font-size: $font-paragraph;
  line-height: $line-height-general;
}
p > *,
p > div,
p > div > span {
  color: white !important;
  background-color: transparent !important;
  word-break: break-word;
}
.multiselect__option.multiselect__option--highlight {
  color: black;
  &:hover {
    background: gray !important;
    color: white !important;
  }
}
.multiselect__option {
  color: black;
  &:hover {
    background: gray !important;
    color: white !important;
  }
}
.multiselect__option--selected.multiselect__option--highlight {
  background: gray !important;
  color: white !important;
}
.multiselect.multiselect--active {
  background-color: cadetblue !important;
}
.multiselect__tag {
  background-color: gray !important;
}
.multiselect__tag-icon:after {
  color: white !important;
}
span {
  background-color: transparent !important;
}

.description-container {
  word-break: break-word;
  overflow: hidden;
  div {
    color: white !important;
    word-break: break-word;
    span {
      white-space: normal !important;
    }
  }
  span {
    color: white !important;
    word-break: break-word;
  }
  span > * {
    color: white !important;
    word-break: break-word;
  }
  h1 > a,
  h2 > a,
  h3 > a,
  h4 > a,
  h5 > a,
  h6 > a,
  p > a,
  span > a {
    color: #598cc2 !important;
    word-break: break-word;
    text-decoration: underline;
  }
  p {
    @media (max-width: 767px) {
      flex-flow: wrap-reverse !important;
      display: flex !important;
    }
  }
  &--expand {
    height: 100%;
  }
  &--limit {
    height: 200px;
  }
}
.description-container-job {
  word-break: break-word;
  overflow: hidden;
  div {
    color: rgb(21, 26, 32) !important;
    line-height: 20px;
    word-break: break-word;
    span {
      white-space: normal !important;
    }
  }
  span {
    color: rgb(21, 26, 32) !important;
    word-break: break-word;
    line-height: 20px;
  }
  span > * {
    color: rgb(21, 26, 32) !important;
    word-break: break-word;
    line-height: 20px;
  }
  h1 > a,
  h2 > a,
  h3 > a,
  h4 > a,
  h5 > a,
  h6 > a,
  p > a,
  span > a {
    color: #598cc2 !important;
    word-break: break-word;
    text-decoration: underline;
  }
  p {
    @media (max-width: 767px) {
      flex-flow: wrap-reverse !important;
      display: flex !important;
    }
  }
  &--expand {
    height: 100%;
  }
  &--limit {
    height: 200px;
  }
}

.pell-content > *,
.pell-content > p > *,
.pell-content > span > *,
.pell-content > div > * {
  font-family: Arial !important;
}
.pell-content > p > * {
  color: black !important;
}
.pell-content span {
  color: black !important;
}

.pell-content {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background: white;
  &--is-invalid {
    border: 1px solid red !important;
  }
}

.vp-editor.about-dashboard {
  .pell-content {
    height: 150px !important;
  }
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: $dark-gray;
  font-weight: $font-weight-light;
  line-height: $line-height-general;
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 60%;
}

h1 .subtitle {
  display: block;
  margin: 0 0 $margin-large-vertical;
}

.text-muted {
  color: #9a9a9a;
}
.text-primary,
.text-primary:hover {
  color: #1d62f0 !important;
}
.text-info,
.text-info:hover {
  color: $info-color !important;
}
.text-success,
.text-success:hover {
  color: $success-color !important;
}
.text-warning,
.text-warning:hover {
  color: $warning-color !important;
}
.text-danger,
.text-danger:hover {
  color: $danger-color !important;
}

.work-page-wrapper__text {
  h2 span {
    color: white !important;
  }
}
