@import "../../color-palette.scss";
@import "../../mixins.scss";

.change-password-modal {
  position: fixed; /* Stay in place */
  z-index: 200; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.change-password-modal-content {
  position: relative;
  background-color: $placeholder-background;
  border: 1px solid #1b90e2;
  margin: auto;
  padding: 0;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  @include is-mobile {
    width: 80%;
  }
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: $primary;
  float: right;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: black;
  border: 1px solid $primary;
  width: 20px;
  text-align: center;
}

.close:hover,
.close:focus {
  color: $primary;
  text-decoration: none;
  cursor: pointer;
}

.change-password-modal-header {
  padding: 2px 16px;
  color: white;
  h2 {
    margin: 15px 0;
  }
}

.change-password-modal-body {
  padding: 16px;
  form {
    height: 320px;
    button {
      color: $primary !important;
      border: 1px solid $primary !important;
      background-color: black !important;
    }
  }
}

.form-group {
  label {
    color: $primary !important;
  }
  input {
    color: $primary !important;
    border: 1px solid $primary !important;
    background-color: black !important;
    &:focus,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      color: $primary !important;
      border: 1px solid $primary !important;
      background-color: black !important;
    }
    &::placeholder {
      color: $primary !important;
      opacity: 0.7;
    }
  }
}
