@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../variables.scss";

.contact-form-wrapper {
  form {
    @include is-extra-small-mobile {
      padding: 10px;
    }
    @include is-mobile {
      padding: 20px;
    }
    @include is-tablet {
      padding: 20px;
    }
    @include is-desktop {
      padding: 30px;
    }
    @include is-large-desktop {
      padding: 30px;
    }
    @include is-extra-large-desktop {
      padding: 30px 50px;
    }
    .form-group {
      position: relative;
      label {
        background-color: $form-background;
        position: absolute;
        top: -10px;
        left: 50px;
        z-index: 1;
        color: white;
      }
      &__name-label {
        width: 60px;
      }
      &__email-label {
        width: 60px;
      }
      &__message-label {
        width: 80px;
      }
    }
  }
  &__input-outline-mask,
  &__input-outline-mask input {
    @include is-extra-small-mobile {
      $clipped-shape-width: 50%;
      $clipped-shape-height: 7%;
      $clipped-length: 3%;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
    }
    @include is-mobile {
      $clipped-shape-width: 90%;
      $clipped-shape-height: 7%;
      $clipped-length: 3%;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
    }
    @include is-tablet {
      $clipped-shape-width: 60%;
      $clipped-shape-height: 7%;
      $clipped-length: 3%;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
    }
    @include is-desktop {
      $clipped-shape-width: 80%;
      $clipped-shape-height: 7%;
      $clipped-length: 3%;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
    }
    @include is-large-desktop {
      $clipped-shape-width: 90%;
      $clipped-shape-height: 8%;
      $clipped-length: 3%;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
    }
    @include is-extra-large-desktop {
      $clipped-shape-width: 100%;
      $clipped-shape-height: 7%;
      $clipped-length: 2%;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
    }
  }
  &__input-outline-mask {
    position: relative;
    background-color: $light-white;
    width: 100%;
    height: $input-form-height;

    input {
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 0;
      width: calc(100% - 2px);
      height: $input-form-height - 2px;
      background-color: $form-background;
      border: transparent;
      color: white;
      padding: 8px 20px;
    }
  }
  &__textarea-outline-mask {
    position: relative;
    background-color: $light-white;
    width: 100%;
    height: 150px;

    textarea {
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 0;
      width: calc(100% - 2px);
      height: 148px;
      background-color: $form-background;
      border: transparent;
      color: white;
      padding: 8px 20px;
    }
  }
  &__textarea-outline-mask,
  &__textarea-outline-mask textarea {
    @include is-extra-small-mobile {
      $clipped-shape-width: 50%;
      $clipped-shape-height: 25%;
      $clipped-length: 3%;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
    }
    @include is-mobile {
      $clipped-shape-width: 70%;
      $clipped-shape-height: 20%;
      $clipped-length: 2.5%;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
    }
    @include is-tablet {
      $clipped-shape-width: 70%;
      $clipped-shape-height: 30%;
      $clipped-length: 4%;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
    }
    @include is-desktop {
      $clipped-shape-width: 80%;
      $clipped-shape-height: 25%;
      $clipped-length: 3%;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
    }
    @include is-large-desktop {
      $clipped-shape-width: 90%;
      $clipped-shape-height: 25%;
      $clipped-length: 3%;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
    }
    @include is-extra-large-desktop {
      $clipped-shape-width: 100%;
      $clipped-shape-height: 20%;
      $clipped-length: 2%;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
    }
  }
}
