@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../shared/half-clipped-shape.scss";

.contact-data-box-wrapper {
  &__img {
    margin-bottom: 5%;
    height: 40px;

    @include is-extra-small-mobile {
      margin-top: 6%;
    }
    @include is-mobile {
      margin-top: 5%;
    }

    @include is-tablet {
      margin-top: 10%;
    }

    @include is-desktop {
      margin-top: 15%;
    }
    @include is-large-desktop {
      margin-top: 3%;
    }
    @include is-extra-large-desktop {
      margin-top: 30%;
    }
    img {
      max-width: 100px;
      height: 100%;
    }
  }
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin: 5% 0 0 0;
    @include is-extra-small-mobile {
      margin: 5% 0;
    }
  }
  &__details {
    font-size: 1.2rem;
    @include is-extra-small-mobile {
      font-size: 0.8rem;
    }
  }
}

// All have vw as divide operation units must be the same for all
$width: 25vw;
$height: 15vw;
$clipped-length: 3vw;

$widths-and-heights: (
  clipped-shape-width: $width,
  clipped-shape-height: $height,
  clipped-length: $clipped-length,
  clipped-shape-width-xs: (
    $width + 5vw
  ) * 3,
  clipped-shape-height-xs: (
    $height + 10vw
  ) * 2,
  clipped-length-xs: $clipped-length,
  clipped-shape-width-sm: (
    $width + 5vw
  ) * 2,
  clipped-shape-height-sm: (
    $height + 5vw
  ) * 2,
  clipped-length-sm: $clipped-length,
  clipped-shape-width-md: $width + 5vw,
  clipped-shape-height-md: $height * 2,
  clipped-length-md: $clipped-length,
  clipped-shape-width-lg: $width + 5vw,
  clipped-shape-height-lg: $height + 10vw,
  clipped-length-lg: $clipped-length,
  clipped-shape-width-xlg: $width + 5vw,
  clipped-shape-height-xlg: $height + 10vw,
  clipped-length-xlg: $clipped-length,
  clipped-shape-width-xxlg: $width,
  clipped-shape-height-xxlg: $height,
  clipped-length-xxlg: $clipped-length
);

// use /deep/ to apply scss classes to the child components
div /deep/ {
  @include filled-half-clipped-shape($widths-and-heights, transparent);
}
