@import "../../color-palette.scss";

.form-container-wrapper {
  width: 100%;
  height: max-content;
  padding: 20px 50px 50px;
  text-align: center;
  z-index: 100;
  h2,
  p {
    color: $primary;
    margin: 10px 0;
  }
  h2 {
    font-weight: bold;
  }
}
