@import "../mixins.scss";

.footer-wrapper {
  height: 120px;
  width: 100%;
  background-color: #121828;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    width: fit-content;
    height: fit-content;
  }
  div img {
    display: inline-block;
    max-width: 90px;
    margin: auto 40px;
    @include is-mobile {
      max-width: 60px;
      margin: 30px 15px;
    }
  }
}
