@import "../mixins.scss";
@import "../variables.scss";
@import "../color-palette.scss";

$scale-hover: scale(1.2);

$fontsize-paragraph: 1.2rem;
$clippath-botRight-leftTop: polygon(
  14% 0,
  100% 0,
  100% 85%,
  86% 100%,
  0 100%,
  0 15%
);
$transition-5: all 0.5s ease-in-out;
$transition-3: all 0.3s ease-in-out;

.footer-section {
  background-color: $primary;
  padding-top: 20px;
  position: relative;
  z-index: 101;
  &__container {
    margin: auto;
    .footer-leftside {
      padding: 20px 0 0 75px;
      display: flex;
      p,
      p a {
        color: $light-gray !important;
        font-size: $fontsize-paragraph !important;
        @include is-desktop {
          font-size: 1rem;
        }
        @include is-mobile {
          font-size: 0.8rem;
        }
        @include is-extra-small-mobile {
          font-size: 0.8rem;
        }
      }
      p a {
        margin-left: 5px;
      }
      a img {
        width: 120px;
        margin-right: 50px;
      }
      img {
        padding-right: 5px;
        margin-top: -3px;
      }
      @include is-extra-small-mobile {
        text-align: center;
      }
      @include is-mobile {
        text-align: center;
      }
      @include is-tablet {
        text-align: center;
      }
    }

    .footer-social-media {
      .footer-followus {
        width: 108px;
        position: relative;
        color: $header-item;
        padding-bottom: 20px;
        font-family: Arial;
        font-weight: bold;
        font-size: 20px;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          top: 28px;
          left: 0px;
          height: 4px;
          width: 56%;
          background: $underline-cyan;
          transition: $transition-5;
        }
        @include is-extra-small-mobile {
          margin: auto;
        }
        @include is-mobile {
          margin: auto;
        }
        @include is-tablet {
          margin: auto;
        }
        @include is-desktop {
          margin: auto;
        }
      }

      .social-media {
        @include is-extra-small-mobile {
          justify-content: center;
        }
        @include is-mobile {
          justify-content: center;
        }
        @include is-tablet {
          justify-content: center;
        }
        @include is-desktop {
          justify-content: center;
        }
      }
      .social-logos-container {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $header-item;
        display: flex;
        justify-content: left;
        padding-left: 20px;
        transition: $transition-5;
        img {
          width: 20px;
        }
        img.fb-logo {
          width: 10px;
        }
        @include is-extra-small-mobile {
          width: 85px;
          height: 65px;
          .fb-logo {
            width: 20px;
          }
          img {
            width: 30px;
          }
        }
        @include is-mobile {
          width: 96px;
          height: 74px;
        }
        @include is-tablet {
          width: 96px;
          height: 74px;
        }
        @include is-desktop {
          width: 96px;
          height: 74px;
        }
      }
    }

    .footer-nav {
      .nav-link {
        padding: 0;
      }
      .active {
        transform: $scale-hover;
        a::after {
          width: 50%;
        }
        .nav-link {
          font-family: Arial;
          font-weight: bold;
        }
      }
      li {
        margin: 20px;
        position: relative;
        @include is-extra-small-mobile {
          margin: 15px;
        }
        @include is-mobile {
          margin: 20px;
        }
        @include is-tablet {
          margin: 20px;
        }
      }
      a {
        color: $header-item;
        font-size: 1rem;
        &:hover {
          color: $header-item;
        }
        &:hover::after {
          width: 50%;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 4px;
          width: 0%;
          top: 30px;
          background: $accent;
          transition: $transition-3;
        }
      }
    }
  }

  .copyrights {
    color: $light-gray;
    background-color: $primary;
    a {
      text-decoration: none;
      color: $accent;
      transition: $transition-3;
      &:hover {
        color: $header-item;
      }
    }
    h5 {
      line-height: 60px;
      margin-bottom: 0;
      padding-left: 30px;
      @include is-extra-small-mobile {
        font-size: 0.7rem;
      }
      @include is-mobile {
        font-size: 0.9rem;
      }
    }
  }

  .scroll-top-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
    right: 5%;
    background-color: $accent;
    width: 90px;
    height: 65px;
    cursor: pointer;
    transition: $transition-3;
    // clip-path: $clippath-botRight-leftTop;
    &:hover {
      background-color: darken($accent, 30px);
    }
    div {
      :last-child {
        margin-top: -7px;
      }
      img {
        display: flex;
      }
    }
  }
}
