@import "../mixins.scss";
@import "../color-palette.scss";
@import "../variables.scss";

@mixin outline-half-clipped-shape(
  $clipped-shape-width,
  $clipped-shape-height,
  $clipped-length,
  $clipped-shape-width-mobile,
  $clipped-shape-height-mobile,
  $clipped-length-mobile,
  $bg-color,
  $outline-color
) {
  .outline-box {
    width: $clipped-shape-width;
    height: $clipped-shape-height;
    position: relative;
    @include is-mobile {
      width: $clipped-shape-width-mobile;
      height: $clipped-shape-height-mobile;
    }
    &__outside {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $outline-color;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
      @include is-mobile {
        @include half-clipped-shape(
          $clipped-shape-width-mobile,
          $clipped-shape-height-mobile,
          $clipped-length-mobile
        );
      }
    }

    &__inside {
      position: absolute;
      top: $border-thickness;
      left: $border-thickness;
      width: calc(100% - #{$total-border-thickness});
      height: calc(100% - #{$total-border-thickness});
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bg-color;
      color: $outline-color;
      transition: all $transition-time ease-in-out;
      @include half-clipped-shape(
        $clipped-shape-width,
        $clipped-shape-height,
        $clipped-length
      );
      @include is-mobile {
        @include half-clipped-shape(
          $clipped-shape-width-mobile,
          $clipped-shape-height-mobile,
          $clipped-length-mobile
        );
      }
      &--is-button {
        cursor: pointer;
        &:hover {
          background-color: $outline-color;
          color: $header-item;
        }
      }
    }
  }
}
