@import "../mixins.scss";
@import "../color-palette.scss";
@import "../variables.scss";

@mixin filled-half-clipped-shape(
  $clipped-length,
  $clipped-shape-width,
  $clipped-shape-height,
  $clipped-shape-width-xs,
  $clipped-shape-height-xs,
  $clipped-shape-width-sm,
  $clipped-shape-height-sm,
  $clipped-shape-width-md,
  $clipped-shape-height-md,
  $clipped-shape-width-lg,
  $clipped-shape-height-lg,
  $clipped-shape-width-xlg,
  $clipped-shape-height-xlg,
  $clipped-shape-width-xxlg,
  $clipped-shape-height-xxlg,
  $bg-color
) {
  .half-filled-box {
    width: $clipped-shape-width;
    height: $clipped-shape-height;
    background-color: $bg-color;
    color: $header-item;
    padding: 20px;
    text-align: center;
    margin: auto;
    @include half-clipped-shape(
      $clipped-shape-width,
      $clipped-shape-height,
      $clipped-length
    );

    @include is-extra-small-mobile {
      $width: $clipped-shape-width-xs;
      $height: $clipped-shape-height-xs;
      width: $width;
      height: $height;
      @include half-clipped-shape($width, $height, $clipped-length);
    }

    @include is-mobile {
      $width: $clipped-shape-width-sm;
      $height: $clipped-shape-height-sm;
      width: $width;
      height: $height;
      @include half-clipped-shape($width, $height, $clipped-length);
    }

    @include is-tablet {
      $width: $clipped-shape-width-md;
      $height: $clipped-shape-height-md;
      width: $width;
      height: $height;
      @include half-clipped-shape($width, $height, $clipped-length);
    }

    @include is-desktop {
      $width: $clipped-shape-width-lg;
      $height: $clipped-shape-height-lg;
      width: $width;
      height: $height;
      @include half-clipped-shape($width, $height, $clipped-length);
    }
    @include is-large-desktop {
      $width: $clipped-shape-width-xlg;
      $height: $clipped-shape-height-xlg;
      width: $width;
      height: $height;
      @include half-clipped-shape($width, $height, $clipped-length);
    }
    @include is-extra-large-desktop {
      $width: $clipped-shape-width-xxlg;
      $height: $clipped-shape-height-xxlg;
      width: $width;
      height: $height;
      @include half-clipped-shape($width, $height, $clipped-length);
    }
  }
}
