@import "../mixins.scss";

.hero-wrapper {
  width: 100%;
  height: 80vh;
  padding-top: $header-height;
  background-attachment: fixed;
  position: relative;
  display: flex;
  justify-content: center;
  @include cover-image();
  @include is-extra-small-mobile {
    padding-top: $header-height-mobile;
  }
}
