@import "../mixins.scss";
@import "../color-palette.scss";
@import "../variables.scss";

.popup-container {
  filter: drop-shadow(0px 0px 6px #175e90);
  width: $popup-width;
  height: $popup-height;
  position: absolute;
  top: $popup-top-offset;
  right: 0;
  transition: all 0.3s ease;
  &--hide {
    transform: translateX($popup-width);
  }
  &--show {
    transform: translateX(0);
  }
  @include is-mobile {
    width: $popup-width-mobile;
    height: $popup-height-mobile;
    top: $popup-top-offset-mobile;
  }
}
.popup-wrapper {
  height: 100%;
  color: white;
  padding-left: 50px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  @include create-half-hexagone-shape(12px);
  &__arrow-container {
    cursor: pointer;
    width: 20px;
    height: 100px;
    position: absolute;
    left: 5px;
    top: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__arrow {
    transition: all 0.3s ease;
    &--reverse {
      transform: rotate(180deg);
    }
    &--normal {
      transform: rotate(0);
    }
  }
  &__card {
    height: calc(#{$popup-height} - #{$popup-title-height});
    h3 {
      margin: 10px 0 5px 0;
      font-size: 1.3rem;
    }
    img {
      max-width: 80%;
      height: 40%;
      margin: auto;
    }
  }
}

/* The Close Button */
.close-popup {
  color: $primary;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 25px;
  // margin-top: 10px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-popup:hover,
.close-popup:focus {
  text-decoration: none;
  cursor: pointer;
}
