@import "../mixins.scss";
@import "../color-palette.scss";
@import "../variables.scss";

@mixin bottom-single-clipped-shape($widths-and-heights, $bg-color) {
  .single-filled-box {
    width: map-get($widths-and-heights, clipped-shape-width);
    height: map-get($widths-and-heights, clipped-shape-height);
    background-color: $bg-color;
    color: $header-item;
    padding: $half-clipped-shape-padding;
    text-align: center;
    margin: auto;
    @include single-clipped-shape(
      $width,
      $height,
      map-get($widths-and-heights, clipped-length)
    );

    @include is-extra-small-mobile {
      $width: map-get($widths-and-heights, clipped-shape-width-xs);
      $height: map-get($widths-and-heights, clipped-shape-height-xs);
      width: $width;
      height: $height;
      @include single-clipped-shape(
        $width,
        $height,
        map-get($widths-and-heights, clipped-length-xs)
      );
    }

    @include is-mobile {
      $width: map-get($widths-and-heights, clipped-shape-width-sm);
      $height: map-get($widths-and-heights, clipped-shape-height-sm);
      width: $width;
      height: $height;
      @include single-clipped-shape(
        $width,
        $height,
        map-get($widths-and-heights, clipped-length-sm)
      );
    }

    @include is-tablet {
      $width: map-get($widths-and-heights, clipped-shape-width-md);
      $height: map-get($widths-and-heights, clipped-shape-height-md);
      width: $width;
      height: $height;
      @include single-clipped-shape(
        $width,
        $height,
        map-get($widths-and-heights, clipped-length-md)
      );
    }

    @include is-desktop {
      $width: map-get($widths-and-heights, clipped-shape-width-lg);
      $height: map-get($widths-and-heights, clipped-shape-height-lg);
      width: $width;
      height: $height;
      @include single-clipped-shape(
        $width,
        $height,
        map-get($widths-and-heights, clipped-length-lg)
      );
    }
    @include is-large-desktop {
      $width: map-get($widths-and-heights, clipped-shape-width-xlg);
      $height: map-get($widths-and-heights, clipped-shape-height-xlg);
      width: $width;
      height: $height;
      @include single-clipped-shape(
        $width,
        $height,
        map-get($widths-and-heights, clipped-length-xlg)
      );
    }
    @include is-extra-large-desktop {
      $width: map-get($widths-and-heights, clipped-shape-width-xxlg);
      $height: map-get($widths-and-heights, clipped-shape-height-xxlg);
      width: $width;
      height: $height;
      @include single-clipped-shape(
        $width,
        $height,
        map-get($widths-and-heights, clipped-length-xxlg)
      );
    }
    &--is-button {
      cursor: pointer;
      background-color: $bg-color;
      transition: background-color $transition-time ease-in-out;
      &:hover {
        background-color: darken($color: $bg-color, $amount: 5);
        color: $header-item;
      }
    }
  }
}
