@import "../color-palette.scss";

.spinner-wrapper {
  height: 100%;
  width: 100% !important;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3000;
  position: absolute;
  top: 0;
  right: 0;
  &--small-loader {
    height: 100%;
    width: 100% !important;
  }
  &--large-loader {
    height: 100vh;
    width: 100vw !important;
    float: left;
    &--en {
      margin-right: 0;
    }
    &--ar {
      margin-right: 60vw;
    }
  }
  &--hide {
    display: none;
  }
  @media (max-width: 992px) {
    width: 100vw !important;
  }
}
.lds-ring {
  width: 40px;
  height: 40px;
  z-index: 120;
  position: relative;
}
.lds-ring div {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 120;
  box-sizing: border-box;
  display: block;
  width: 40px;
  height: 40px;
  border: 3px solid $primary;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
