@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.tab-pane {
  padding: 30px;
  position: relative;
  filter: drop-shadow(0 0 4px #175e90) !important;
  h3 {
    word-break: break-all;
  }
}

.nav-tabs {
  border: none;
  @include is-mobile {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap !important;
    &::-webkit-scrollbar {
      width: 5px !important;
      background-color: $accent !important;
      border-radius: 20px !important;
      height: 2px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary !important;
      border-radius: 20px !important;
    }
  }
}

.nav-tabs .nav-link:nth-child(1) {
  margin: 0 2px 0 0;
  @include is-mobile {
    margin: 0;
  }
}
.nav-tabs .nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c3656;
  cursor: pointer !important;
  color: rgba($color: #fff, $alpha: 0.4);
  border: none;
  margin: 0 2px;
  width: 120px;
  height: 50px;
  @include create-hexagone-shape-tab(10px);
  transform: translateY(5px);
  @include is-mobile {
    width: 80px;
    height: 50px;
    margin: 0;
    font-size: 0.9rem;
  }
}

.nav-item.nav-link.active {
  background-color: rgba($color: $placeholder-background, $alpha: 0.5);
  height: 55px;
  filter: drop-shadow(0 0 4px #175e90) !important;
  border: none;
  color: white;
  transform: translateY(0px);
  @include is-mobile {
    width: 80px;
    height: 50px;
    margin: 0;
  }
}

.tab-pane.fade.show.active {
  background-color: rgba($color: $placeholder-background, $alpha: 0.7);
}

.nav-tabs .nav-link .active,
.nav-tabs .nav-item .show .nav-link {
  background-color: $placeholder-background !important;
  filter: drop-shadow(0 0 4px #175e90) !important;
  color: white;
  border: none;
}

.tab-wrapper {
  &__details {
    &__img {
      width: 70%;
      border-radius: 5px;
      @include is-mobile {
        width: 60%;
        display: block;
        margin: 0 auto 15px;
      }
    }
    &__title {
      font-size: 1.3rem;
      margin: 0;
    }
    &__description {
      font-size: 1rem;
      margin-top: 10px;
    }
    &__format {
      font-size: 0.9rem;
      font-weight: lighter;
      margin: 0 10px;
      @include is-mobile {
        margin-right: 10px;
      }
    }
    &__platform {
      margin-right: 5px;
    }
    &__region {
      margin-left: 5px;
    }
    &__kick-off {
      margin: 5px 0;
      padding: 5px 10px;
      background-color: rgba($color: #fff, $alpha: 0.2) !important;
      span {
        display: inline-block;
        margin-left: 5px;
      }
    }
    &__register {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      @include is-mobile {
        margin-top: 15px;
      }
      a {
        color: white !important;
      }
      div {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin-top: 6px;
        margin-right: 5px;
      }
      &--open {
        background-color: rgba(0, 211, 81, 1);
      }
      &--closed {
        background-color: red;
      }
      &--soon {
        background-color: orange;
      }
    }
  }
}
