@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../mixins.scss";

.game-details-wrapper {
  background-image: url("~/website/img/hexagone-pattern.png");
  background-repeat: repeat;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px !important;
    background-color: $accent !important;
    border-radius: 20px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }
  &__outside {
    position: relative;
    width: calc(100% - 2px);
    height: $half-page-hero-image-height;
    background: $placeholder-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    @include create-half-page-hero-shape();
  }

  &__inside {
    width: calc(100% - 2px);
    height: calc(#{$half-page-hero-image-height} - 4px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    @include create-half-page-hero-shape();
    video {
      object-fit: cover;
    }
  }

  &__content {
    width: 100%;
    padding: 5vh 15%;
    min-height: calc(100vh - 12vh);
    color: white;
    @include is-mobile {
      min-height: 82vh;
    }
    &__breadcrumb {
      font-size: 1.8rem;
      margin-bottom: 50px;
      padding-left: 15px;
      a {
        text-decoration: none;
        color: white;
      }
      span {
        color: $primary;
      }
    }
    &__logo {
      img {
        width: 200px;
      }
    }
    &__tournaments {
      margin-top: 50px;
      div:nth-child(1) {
        font-size: 2rem;
        color: $primary;
      }
    }
    &__custom-btn-outside {
      position: relative;
      width: 70%;
      height: 100%;
      background: $primary;
      @include create-hexagone-shape(10px);
    }
    &__custom-btn-inside {
      display: flex;
      position: absolute;
      top: $border-thickness;
      left: $border-thickness;
      right: $border-thickness;
      bottom: $border-thickness;
      background: #100000;
      font-size: 1.05rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease;
      @include create-hexagone-shape(10px);
    }
    &__main-sponsor {
      width: 80px;
      margin-left: 15px;
    }
    &__sub-sponsor {
      width: 40px;
      margin: 15px;
    }
  }
}
