@font-face {
  font-family: "Segoe UI";
  src: url("../../fonts/website/Segoe\ UI.ttf");
}
@font-face {
  font-family: "Segoe UI Bold";
  src: url("../../fonts/website/Segoe\ UI\ Bold.ttf");
}
@font-face {
  font-family: "Segoe UI Bold Italic";
  src: url("../../fonts/website/Segoe\ UI\ Bold\ Italic.ttf");
}
@font-face {
  font-family: "Segoe UI Italic";
  src: url("../../fonts/website/Segoe\ UI\ Italic.ttf");
}