$header-height: 120px;
$header-height-mobile: 75px;
$header-item-underline-height: 5px;
$header-item-underline-width: 60%;
$header-active-item-font: 1.8rem;
$header-inactive-item-font: 1.2rem;

$footer-height: 80px;
$footer-height-mobile: 100px;

$border-thickness: 1px;
$total-border-thickness: 2px;

$transition-time: 0.3s;

$input-form-height: 50px;

$half-clipped-shape-padding: 20px;

$template-height: 660px;

$hero-image-height: 248px;
$half-page-hero-image-height: 60vh;

$slide-height: 220px;
