@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../mixins.scss";

.event-details-wrapper {
  background-image: url("~/website/img/hexagone-pattern.png");
  background-repeat: repeat;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
    background-color: $accent !important;
    border-radius: 20px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }
  &__outside {
    position: relative;
    width: calc(100% - 2px);
    height: $half-page-hero-image-height;
    background: $placeholder-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    &--hexa-shape {
      @include create-half-page-hero-shape();
    }
    &--none {
      clip-path: inset(0 0 0 0);
    }
  }

  &__inside {
    position: relative;
    width: calc(100% - 2px);
    height: calc(#{$half-page-hero-image-height} - 4px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    video {
      object-fit: cover;
      height: 100%;
    }
    img {
      height: 30vh;
      position: absolute;
      display: table;
      vertical-align: middle;
      @include is-mobile {
        width: 70%;
        height: auto;
      }
    }
    &--hexa-shape {
      @include create-half-page-hero-shape();
    }
    &--none {
      clip-path: inset(0 0 0 0);
    }
  }
  &__custom-button-wrapper {
    width: 190px;
    max-width: 190px;
    height: 52px;
    cursor: pointer;
    &__outside {
      position: relative;
      width: 100%;
      height: 100%;
      background: $solid-header;
      border: 2px solid $primary;
      color: $primary;
      border-radius: 10px;
      font-size: 1.3rem;
      transition: all 0.2s ease;
      display: flex !important;
      justify-content: center;
      align-items: center;
    }
    @include is-mobile {
      display: flex !important;
      justify-content: flex-end;
      align-items: center;
    }
  }
  &__content {
    width: 100%;
    padding: 5vh 15%;
    height: max-content;
    color: white;
    @include is-mobile {
      padding: 5%;
    }
    &__breadcrumb {
      font-size: 1.8rem;
      padding-left: 15px;
      a {
        text-decoration: none;
        color: white;
      }
      span {
        color: $primary;
      }
    }
    &__logo {
      img {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &__description {
      padding-top: 60px;
    }
    &__tournaments {
      margin-top: 50px;
      div:nth-child(1) {
        font-size: 2rem;
        color: $primary;
      }
      &__title {
        @include is-mobile {
          margin-top: 30px !important;
        }
      }
      div:nth-child(2) {
        height: 60px;
      }
    }
    &__custom-btn-outside {
      position: relative;
      margin: 20px auto;
      width: fit-content;
      min-width: 20%;
      max-width: 100%;
      height: fit-content;
      padding: 20px 35px;
      background: $solid-header;
      border: 2px solid $primary;
      border-radius: 10px;
      font-size: 1.05rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: wrap;
      @include is-mobile {
        width: 100%;
      }
      a {
        cursor: pointer;
      }
    }
    &__sponsor {
      margin: 5px 12px;
      &--main {
        max-width: 150px;
        max-height: 100px;
        @include is-mobile {
          max-width: 120px;
          max-height: 70px;
        }
      }
      &--sub {
        max-width: 120px;
        max-height: 80px;
        @include is-mobile {
          max-width: 90px;
          max-height: 40px;
        }
      }
      &--extra_sub {
        max-width: 75px;
        max-height: 50px;
        @include is-mobile {
          max-width: 40px;
          max-height: 30px;
        }
      }
    }
    &__divider {
      width: 2px;
      max-width: 2px;
      min-width: 2px;
      height: 80px;
      margin: auto 12px;
      background-color: white !important;
    }
  }
}
