@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../mixins.scss";

$left: 25px;
$shift: 40px;

$extra-lg-dim: calc(#{$about-container-height} + #{$shift});
$extra-mob-dim: calc(#{$slide-height-mobile} + #{$shift});

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $primary;
}
::-webkit-scrollbar-thumb {
  background-color: $accent;
}
$text-maxheight-mob: 500px;
$text-minheight-mob: 500px;
$text-minheight-pc: 706px;

.about-section-wrapper {
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__inside {
    padding: 15px 0px;
    width: 80%;
    margin: auto;
    &--is-text {
      div {
        max-height: 520px;
        overflow: hidden;
        overflow-y: auto;
        line-height: 33px;
      }
      padding: 50px;
      background-color: $form-background;
      overflow: hidden;
      overflow-y: auto;
      @include is-mobile {
        min-height: auto;
        max-height: none;
        padding: 20px;
      }
      @include is-extra-small-mobile {
        min-height: auto;
        max-height: none;
        padding: 20px;
      }
      h1 {
        color: $header-item;
        font-size: 2.3rem;
        font-family: Arial;
        font-weight: bold;
        @include is-large-desktop {
          font-size: 2rem;
        }
        @include is-desktop {
          font-size: 2rem;
        }
        @include is-tablet {
          font-size: 1.7rem;
        }
        @include is-mobile {
          font-size: 1.5rem;
        }
        @include is-extra-small-mobile {
          font-size: 1.5rem;
        }
      }
      p {
        color: $sub-text;
        font-size: 1.2rem;
        @include is-large-desktop {
          font-size: 1rem;
        }
        @include is-desktop {
          font-size: 1rem;
        }
        @include is-tablet {
          font-size: 0.9rem;
        }
        @include is-mobile {
          font-size: 0.9rem;
        }
        @include is-extra-small-mobile {
          font-size: 0.9rem;
        }
      }
    }
    &--is-image {
      margin-top: -50px;
      height: 809px;
      @include cover-image();
      filter: brightness(80%);
      @include is-extra-small-mobile {
        max-height: 500px;
      }
      @include is-mobile {
        max-height: 500px;
      }
    }
  }
  &__title {
    font-family: "Arial Bold" !important;
    font-weight: bolder;
    font-size: 2rem;
    // letter-spacing: 4px;
    margin-bottom: -20px;
    // width: 100%;
    margin-left: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    &--center {
      text-align: center;
      padding-bottom: 20px;
      width: 100%;
      margin-left: 0;
      padding-top: 50px;
      // margin-bottom: 0;
    }
    &--right {
      text-align: right;
      padding-bottom: 0px;
      width: 100%;
      padding-right: 50px;
      margin-left: unset;
      // margin-bottom: 0;
    }
  }
  &__image {
    // object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    // height: 100%;
    border-radius: 15px;
    border: 2px $green-stroke solid;
    // position: absolute;
    // right: 0;
    // top: 0;
    @include is-extra-small-mobile {
      position: relative;
      height: $extra-mob-dim;
      width: $extra-mob-dim + 50px;
      max-width: $extra-mob-dim + 50px;
      min-width: $extra-mob-dim;
      filter: brightness(50%);
      margin-left: -12px;
    }
    @include is-mobile {
      position: relative;
      width: 95vw;
      left: -23%;
      transform: scale(1.1);
      // height: 100%;
      filter: brightness(30%);
    }
    @include is-tablet {
      position: relative;
      width: 95vw;
      left: -23%;
      transform: scale(1.1);
      // height: 100%;
      filter: brightness(30%);
    }
    @include is-desktop {
      // height: 97%;
    }
    @include is-large-desktop {
      // height: 98%;
    }
    @include is-extra-large-desktop {
      height: $extra-lg-dim;
      // width: calc(#{$extra-lg-dim} + 50px);
      // width: 100%;
      // max-width: 100%;
      // min-width: 100%;
      // max-width: calc(#{$extra-lg-dim} + 50px);
      // min-width: $extra-lg-dim;
    }
    @media (min-width: 1400px) and (max-width: 1599px) {
      // height: 100%;
    }
    @media (min-width: 1600px) {
      // height: 100%;
    }
  }
  &__video {
    @include is-extra-small-mobile {
      position: relative;
      height: $extra-mob-dim;
      width: $extra-mob-dim + 50px;
      max-width: $extra-mob-dim + 50px;
      min-width: $extra-mob-dim;
      filter: brightness(50%);
      margin-left: -12px;
    }
    @include is-mobile {
      position: relative;
      width: 95vw;
      left: -23%;
      transform: scale(1.1);
      // height: 100%;
      filter: brightness(30%);
    }
    @include is-tablet {
      position: relative;
      width: 95vw;
      left: -23%;
      transform: scale(1.1);
      // height: 100%;
      filter: brightness(30%);
    }
    @include is-desktop {
      // height: 97%;
    }
    @include is-large-desktop {
      // height: 98%;
    }
    @include is-extra-large-desktop {
      height: $extra-lg-dim;
      // width: calc(#{$extra-lg-dim} + 50px);
      // width: 100%;
      // max-width: 100%;
      // min-width: 100%;
      // max-width: calc(#{$extra-lg-dim} + 50px);
      // min-width: $extra-lg-dim;
    }
    video {
      border-radius: 10px;
      height: 100%;
      object-fit: cover;
      &:focus {
        outline: none;
      }
    }
  }
  &__slider {
    display: flex;
    // align-items: center;
    height: fit-content;
    padding: 15px;
  }
  &__description {
    // div {
    //   max-height: 520px;
    //   overflow: hidden;
    //   overflow-y: auto;
    //   line-height: 33px;
    // }
    padding: 20px;
    max-height: $about-container-height;
    margin-top: $shift/2;
    background-color: $section-color;
    border-bottom: 2px $green-stroke solid;
    border-top: 2px $green-stroke solid;
    border-left: 2px $green-stroke solid;
    text-align: left;
    font-family: Arial;
    // font-size: 1.2rem;
    line-height: 20px;
    // margin-top: 10px;
    color: $white-text;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    // min-height: $text-minheight-pc;
    // overflow: hidden;
    // overflow-y: auto;
    @include is-mobile {
      height: max-content;
    }
    @include is-extra-small-mobile {
      height: max-content;
    }
    // h1 {
    //   color: $header-item;
    //   font-size: 2.3rem;
    //   font-family: Arial;
    //   font-weight: bold;
    //   @include is-large-desktop {
    //     font-size: 2rem;
    //   }
    //   @include is-desktop {
    //     font-size: 2rem;
    //   }
    //   @include is-tablet {
    //     font-size: 1.7rem;
    //   }
    //   @include is-mobile {
    //     font-size: 1.5rem;
    //   }
    //   @include is-extra-small-mobile {
    //     font-size: 1.5rem;
    //   }
    // }
    // p {
    //   color: $sub-text;
    //   font-size: 1.2rem;
    //   @include is-large-desktop {
    //     font-size: 1rem;
    //   }
    //   @include is-desktop {
    //     font-size: 1rem;
    //   }
    //   @include is-tablet {
    //     font-size: 0.9rem;
    //   }
    //   @include is-mobile {
    //     font-size: 0.9rem;
    //   }
    //   @include is-extra-small-mobile {
    //     font-size: 0.9rem;
    //   }
    // }
  }
}
