@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../mixins.scss";

.about-clients-wrapper {
  width: 80%;
  margin: auto;
  @include is-mobile {
    margin-top: 0;
  }
  @include is-extra-small-mobile {
    margin-top: 0;
  }
  &__inside {
    // padding-bottom: 150px;

    .clients-header {
      @include is-mobile {
        margin: 0 0 50px 0;
      }
      @include is-extra-small-mobile {
        margin: 0 0 50px 0;
      }
      h1 {
        font-family: "Arial Bold";
        font-weight: bolder;
        font-size: 2rem;
        letter-spacing: 4px;
        margin-bottom: 5px;
        margin-left: 30px;
        @include is-mobile {
          font-size: 2rem;
          margin-top: 0;
        }
        @include is-extra-small-mobile {
          font-size: 2rem;
          margin-top: 0;
        }
      }
    }

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      justify-items: stretch;
      align-items: stretch;
      :last-child {
        .image-holder__image {
          margin-right: 0;
        }
        :last-child {
          display: block;
        }
      }
      @include is-mobile {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @include is-extra-small-mobile {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }

  // &__topline,
  // &__bottomline {
  //   display: flex;
  //   justify-content: center;
  //   div {
  //     width: 65%;
  //     height: 0.01rem;
  //     background-color: rgba($light-gray, 0.2);
  //     @include is-extra-large-desktop {
  //       width: 70%;
  //     }
  //     @include is-large-desktop {
  //       width: 90%;
  //     }
  //     @include is-desktop {
  //       width: 90%;
  //     }
  //     @include is-tablet {
  //       width: 90%;
  //     }
  //     @include is-mobile {
  //       width: 90%;
  //     }
  //     @include is-extra-small-mobile {
  //       width: 100%;
  //     }
  //   }
  // }

  // &__linebetween {
  //   display: flex;
  //   justify-content: center;
  //   div {
  //     height: 0.01rem;
  //     width: 65%;
  //     background-color: rgba($light-gray, 0.2);
  //     @include is-extra-large-desktop {
  //       width: 70%;
  //     }
  //     @include is-large-desktop {
  //       width: 90%;
  //     }
  //     @include is-desktop {
  //       width: 90%;
  //     }
  //     @include is-tablet {
  //       width: 90%;
  //     }
  //     @include is-mobile {
  //       width: 90%;
  //     }
  //     @include is-extra-small-mobile {
  //       width: 100%;
  //     }
  //   }
  // }
}

.clients-wrapper {
  background-color: $form-background;
  border-radius: 10px;
  padding: 28px 0;
}
