@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../mixins.scss";

.image-holder {
  display: flex;
  justify-content: center;
  :last-child {
    display: none;
  }

  &__image {
    object-fit: contain;
    padding: 30px;
    // width: 70%;
    max-width: 180px;
    max-height: 140px;
    margin: auto;
    cursor: pointer;
    @include is-large-desktop {
      width: 70%;
    }
    @include is-desktop {
      width: 80%;
    }
    @include is-tablet {
      width: 90%;
    }
    @include is-mobile {
      width: 90%;
      padding: 15px;
    }
    @include is-extra-small-mobile {
      width: 80%;
      padding: 10px;
    }
  }
  .hide-border {
    // margin-top: 0;
    // margin-bottom: -50px;
    background-color: transparent !important;
  }
  &__rightline,
  &__leftline {
    width: 2px;
    height: 60%;
    margin: auto 0;
    background-color: white;
    // margin-top: -50px;
  }
}
