@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../mixins.scss";

.image-holder{
    display: flex;
    justify-content:center;
    :last-child{
      display: none;
    }

    &__image{
    object-fit: contain;
    padding: 30px;
    width: 65%;
    margin-right: auto;
        @include is-large-desktop {
            width: 70%;
        }
        @include is-desktop {
            width: 80%;
        }
        @include is-tablet {
            width: 90%;
        }
        @include is-mobile {
            width: 90%;
            padding: 15px;
        }
        @include is-extra-small-mobile{
            width: 80%;
            padding: 10px;
        }
    }
    .bottomgrid{
    margin-top: 0;
    margin-bottom: -50px;
    }
    &__rightline, &__leftline{
    width: .01rem;
    background-color: rgba($light-gray, .2);
    margin-top: -50px;
    }
    &__rightline{
    margin-left: auto;
    }
    &__leftline{
    margin-right: auto;
    }
}