@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../mixins.scss";

.about-section-wrapper{

    &__container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__inside{
        padding: 70px 0px 70px 0px;
        width: 76%;
    }
}
