@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../mixins.scss";

.image-holder {
  display: flex;
  justify-content: center;
  :last-child {
    display: none;
  }

  &__image {
    object-fit: contain;
    width: 56%;
    max-height: 80px;
    margin: 10% 22%;
    cursor: pointer;
    @include is-desktop {
      width: 55%;
    }
    @include is-large-desktop {
      width: 55%;
    }
    @include is-mobile {
      margin: 10% 20%;
    }
    @include is-extra-small-mobile {
      margin: 10% 20%;
    }
  }
  .hide-border {
    // margin-top: 0;
    // margin-bottom: -50px;
    background-color: transparent !important;
  }
  &__rightline,
  &__leftline {
    width: 2px;
    height: 60%;
    margin: auto 0;
    background-color: white;
    // margin-top: -50px;
  }
}
