@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../mixins.scss";

.aboutsection-wrapper{
    font-family: Segoe UI !important;
    &__container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__inside{
        padding: 70px 0px 70px 0px;
        width: 76%;

        &--is-text{
          padding: 35px;
          background-color: #222D3A;
          min-height: 706px;
          @include is-mobile {
             min-height: 500px;
           }
            h1{
                color: $header-item;
                font-size: 2.3rem;
                font-family: Segoe UI !important;
                font-weight: bolder;
                @include is-large-desktop {
                    font-size: 1.7rem;
                  }
                @include is-mobile {
                    font-size: 1.2rem;
                  }
            }
            p{
                color: $sub-text;
                font-size: 1.2rem;
                font-family: Segoe UI !important;
                @include is-large-desktop {
                  font-size: 1rem;
                }
                @include is-desktop {
                  font-size: 1rem;
                }
                @include is-tablet {
                  font-size: .9rem;
                }
                @include is-mobile {
                  font-size: .8rem;
                }
            }
            
        }
        &--is-image{
            height: 809px;
            @include cover-image("~/images/about.png");
            filter: brightness(80%);
        }
    }
}

