@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../mixins.scss";
@import "../../shared/half-clipped-shape.scss";

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $dark-background;
}
::-webkit-scrollbar-thumb {
  background-color: $accent;
}

.section-container {
  padding-top: 100px;
  padding-bottom: 100px;
  @include is-extra-small-mobile {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include is-mobile {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include is-tablet {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  @include is-desktop {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &__title {
    color: $accent;
    font-family: "Segoe UI Bold";
    text-align: left;
    font-size: 2.3rem;
    @include is-extra-small-mobile {
      font-size: 1.6rem;
    }
    @include is-mobile {
      font-size: 2rem;
    }
    @include is-tablet {
      font-size: 2rem;
    }
    @include is-desktop {
      font-size: 2rem;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      top: 58px;
      left: 0px;
      height: 5px;
      width: 220px;
      background: $accent;
      @include is-extra-small-mobile {
        top: 44px;
        width: 200px;
      }
      @include is-mobile {
        top: 50px;
        width: 220px;
      }
      @include is-tablet {
        top: 50px;
        width: 220px;
      }
      @include is-desktop {
        top: 50px;
        width: 150px;
      }
    }
  }
  &__media {
    max-height: $template-height / 1.2;
    overflow: hidden;
    outline: none;
    &--img {
      height: 100%;
      width: 100%;
      display: flex;
      overflow-x: auto;
      &::-webkit-scrollbar {
        height: 4px;
      }
      img {
        object-fit: cover;
        height: 100%;
        min-width: 100%;
      }
    }
    &--slider {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
    &--video {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      video {
        // height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    @include is-extra-small-mobile {
      padding-top: 0px;
      max-height: $template-height / 2;
    }
    @include is-mobile {
      padding-top: 40px;
      max-height: $template-height / 2;
    }
    @include is-tablet {
      padding-top: 40px;
      max-height: $template-height / 2;
    }
  }
  &__template {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 90px;
    padding-right: 90px;
    min-height: 700px;
    @include is-extra-small-mobile {
      padding: 20px;
    }
    @include is-mobile {
      padding: 30px;
    }
    .first-description {
      @include is-extra-small-mobile {
        padding: 0 !important;
      }
      @include is-mobile {
        padding: 0 !important;
      }
      @include is-tablet {
        padding: 0 !important;
      }
    }
    .second-description {
      @include is-extra-small-mobile {
        padding: 0 !important;
      }
      @include is-mobile {
        padding: 0 !important;
      }
      @include is-tablet {
        padding: 0 !important;
      }
    }
    p {
      font-size: 1.2rem;
      color: $sub-text;
      padding: 0;
      overflow-y: auto;
      text-align: justify;
      line-height: 40px;
      max-height: $template-height/1.2;
      @include is-extra-small-mobile {
        font-size: 1rem;
        max-height: $template-height/2;
        line-height: 30px;
      }
      @include is-mobile {
        font-size: 1rem;
        max-height: $template-height/2;
        line-height: 30px;
      }
      @include is-tablet {
        font-size: 1rem;
        max-height: $template-height/2;
        line-height: 30px;
      }
      @include is-desktop {
        font-size: 1.2rem;
        max-height: $template-height/2;
        line-height: 35px;
      }
      @include is-large-desktop {
        max-height: $template-height/2;
      }
    }
  }
}

// All have % as divide operation units must be the same for all
$width: 80%;
$height: 20%;
$clipped-length: 3%;

$widths-and-heights: (
  clipped-shape-width: $width,
  clipped-shape-height: $height,
  clipped-length: $clipped-length,
  clipped-shape-width-xs: (
    $width + 10%
  ),
  clipped-shape-height-xs: (
    $height + 190%
  ),
  clipped-length-xs: 12%,
  clipped-shape-width-sm: (
    $width + 10%
  ),
  clipped-shape-height-sm: (
    $height + 130%
  ),
  clipped-length-sm: $clipped-length + 6%,
  clipped-shape-width-md: $width + 10%,
  clipped-shape-height-md: $height + 110%,
  clipped-length-md: $clipped-length + 6.5%,
  clipped-shape-width-lg: $width + 10%,
  clipped-shape-height-lg: $height + 45%,
  clipped-length-lg: $clipped-length + 5%,
  clipped-shape-width-xlg: $width + 10%,
  clipped-shape-height-xlg: $height + 35%,
  clipped-length-xlg: $clipped-length + 3.5%,
  clipped-shape-width-xxlg: $width,
  clipped-shape-height-xxlg: $height + 30%,
  clipped-length-xxlg: $clipped-length + 2%
);

// use /deep/ to apply scss classes to the child components
div /deep/ {
  @include filled-half-clipped-shape($widths-and-heights, $dark-background);
}
