@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../shared/half-clipped-shape.scss";

.services-page-wrapper {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  user-select: none;
  @include is-extra-small-mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__content-wrapper {
    &:hover {
      img {
        filter: brightness(50%);
        clip-path: polygon(11% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 11%);
      }
      .services-page-wrapper__text {
        bottom: 44%;
        transform: scale(1.3);
      }
    }
  }
  &__content {
    position: relative;
    color: $header-item;
    margin: 20px;
    @media (min-width: 2000px) {
      width: 490px;
      height: 490px;
    }
    @media (min-width: 1700px) and (max-width: 1999px) {
      width: 420px;
      height: 420px;
    }
    @media (min-width: 1500px) and (max-width: 1699px) {
      width: 400px;
      height: 400px;
    }
    @media (min-width: 1200px) and (max-width: 1499px) {
      width: 360px;
      height: 360px;
    }
    @media (min-width: 800px) and (max-width: 1199px) {
      width: 280px;
      height: 280px;
    }
    @media (min-width: 500px) and (max-width: 767px) {
      width: 380px;
      height: 380px;
      margin: 15px auto;
    }
    @media (max-width: 499px) {
      width: 100%;
      height: auto;
      margin: 0 0 10px 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      clip-path: polygon(0% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 0%);
      transition: all 0.2s ease-in-out;
      @include is-extra-small-mobile {
        min-height: 250px;
      }
    }
  }
  &__text {
    transition: all 0.3s ease-in-out;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0%;
    h2 {
      font-family: "Segoe UI Bold";
      font-size: 1.4rem;
      text-transform: uppercase;
      @include is-extra-small-mobile {
        font-size: 1rem;
      }
      @include is-mobile {
        font-size: 1rem;
      }
      @include is-tablet {
        font-size: 1rem;
      }
      @include is-desktop {
        font-size: 1rem;
      }
      @include is-large-desktop {
        font-size: 1rem;
      }
    }
  }
}
