@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../variables.scss";
@import "../../shared/half-clipped-shape.scss";
@import "../../shared/half-clipped-outline-shape.scss";

.job-form-wrapper {
  margin-top: 25px;
  form {
    @include is-extra-small-mobile {
      padding: 10px;
    }
    @include is-mobile {
      padding: 20px;
    }
    @include is-tablet {
      padding: 20px;
    }
    @include is-desktop {
      padding: 30px;
    }
    @include is-large-desktop {
      padding: 30px;
    }
    @include is-extra-large-desktop {
      padding: 30px 30px 10px 30px;
    }
    .form-group {
      position: relative;
      // margin-bottom: 35px;
      label {
        background-color: transparent;
        // position: absolute;
        // top: -25px;
        // left: 20px;
        z-index: 1;
        text-align: left;
        color: white;
        width: 100%;
        margin-left: 20px;
      }
      &__short-label {
        width: 60px;
      }
      &__mid-label {
        width: 80px;
      }
      &__long-label {
        width: 120px;
      }
    }
  }
  // &__input-outline-mask,
  // &__input-outline-mask input,
  // &__input-outline-mask select {
  //   $extra-small-mobile: (
  //     clipped-shape-width: 50%,
  //     clipped-shape-height: 7%,
  //     clipped-length: 3.5%
  //   );
  //   $mobile: (
  //     clipped-shape-width: 90%,
  //     clipped-shape-height: 7%,
  //     clipped-length: 3.5%
  //   );
  //   $tablet: (
  //     clipped-shape-width: 90%,
  //     clipped-shape-height: 7%,
  //     clipped-length: 3.5%
  //   );
  //   $desktop: (
  //     clipped-shape-width: 80%,
  //     clipped-shape-height: 7%,
  //     clipped-length: 3.5%
  //   );
  //   $large-desktop: (
  //     clipped-shape-width: 90%,
  //     clipped-shape-height: 8%,
  //     clipped-length: 4%
  //   );
  //   $extra-large-desktop: (
  //     clipped-shape-width: 100%,
  //     clipped-shape-height: 8%,
  //     clipped-length: 4%
  //   );
  //   @include set-half-clipped-shape-for-input(
  //     $extra-small-mobile,
  //     $mobile,
  //     $tablet,
  //     $desktop,
  //     $large-desktop,
  //     $extra-large-desktop
  //   );
  // }
  &__submit-btn {
    width: 100px;
    height: max-content;
    text-align: center;
    // height: 50px;
    // max-width: 30% !important;
    // display: flex;
    // justify-content: flex-end;
    // align-items: flex-end;
    // margin-bottom: 10px;
    // position: absolute;
    // top: 0;
    // right: 35px;
    font-size: 0.8rem;
    cursor: pointer;
    z-index: 100;
    color: black !important;
    background-color: $white-text;
    border-radius: 5px;
    border: 1px $blue-stroke solid;
    outline: none;
    padding: 7px 12px;
    box-shadow: 0 0 10px $blue-stroke;
    a {
      color: $black-text;
      width: 100%;
      height: 100%;
      span {
        padding: 5px 12px;
        width: 100%;
        height: 100%;
      }
    }
    @include is-extra-small-mobile {
      bottom: 0;
    }
    @include is-mobile {
      bottom: 0;
    }
  }
  &__upload-btn {
    width: 70% !important;
    height: max-content;
    text-align: center;
    margin-left: 0 !important;
    // height: 50px;
    // max-width: 30% !important;
    // display: flex;
    // justify-content: flex-end;
    // align-items: flex-end;
    // margin-bottom: 10px;
    background: white !important;
    color: black !important;
    // position: absolute;
    // bottom: 15px;
    font-size: 0.8rem;
    cursor: pointer;
    z-index: 100;
    background-color: $white-text;
    border-radius: 5px;
    border: 1px $blue-stroke solid;
    outline: none;
    padding: 7px 12px;
    box-shadow: 0 0 10px $blue-stroke;
    text-align: center !important;
    @include is-extra-small-mobile {
      bottom: 0;
    }
    @include is-mobile {
      bottom: 0;
    }
  }
  &__input-outline-mask {
    position: relative;
    background-color: $primary;
    width: 100%;
    height: $input-form-height;
    border-radius: 5px;

    input,
    select {
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 0;
      width: calc(100% - 2px);
      height: $input-form-height - 2px;
      background-color: $form-background;
      border: transparent;
      color: white;
      padding: 8px 20px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  &__custom-select::after {
    content: "\f078";
    font: normal normal normal 17px/1 FontAwesome;
    color: $header-item;
    right: 10px;
    padding: 15px 15px 0px 8px;
    position: absolute;
    pointer-events: none;
  }
  input[type="file"] {
    display: none;
  }
  &__footer-left {
    width: 50%;
    height: max-content;
    text-align: left;
  }
  &__footer-right {
    width: 50%;
    height: max-content;
    display: flex;
    justify-content: flex-end;
  }
}
.job-form-wrapper
  form
  .form-group
  label.job-form-wrapper__input-file-outline-mask {
  cursor: pointer;
  width: 100%;
  position: relative;
  top: 3px;
  left: 0;
}

// All have vw as divide operation units must be the same for all
$width: 100%;
$height: 90%;
$clipped-length: 8%;

$widths-and-heights: (
  clipped-shape-width: $width,
  clipped-shape-height: $height,
  clipped-length: $clipped-length,
  /****/ clipped-shape-width-xs: $width,
  clipped-shape-height-xs: $height * 2,
  clipped-length-xs: $clipped-length,
  /****/ clipped-shape-width-sm: $width,
  clipped-shape-height-sm: $height,
  clipped-length-sm: $clipped-length,
  /****/ clipped-shape-width-md: $width,
  clipped-shape-height-md: $height,
  clipped-length-md: $clipped-length,
  /****/ clipped-shape-width-lg: $width,
  clipped-shape-height-lg: $height + 10%,
  clipped-length-lg: $clipped-length - 2%,
  /****/ clipped-shape-width-xlg: $width,
  clipped-shape-height-xlg: $height + 10%,
  clipped-length-xlg: $clipped-length - 2%,
  /****/ clipped-shape-width-xxlg: $width,
  clipped-shape-height-xxlg: $height,
  clipped-length-xxlg: $clipped-length
);

// use /deep/ to apply scss classes to the child components
div /deep/ {
  @include filled-half-clipped-shape(
    $widths-and-heights,
    rgba($form-background, 0.9)
  );
}

//************************

$clipped-shape-width: 150px;
$clipped-shape-height: 50px;
$clipped-length: $clipped-shape-height / 2.8;
$clipped-shape-width-mobile: 180px;
$clipped-shape-height-mobile: 40px;
$clipped-length-mobile: $clipped-shape-height / 2.8;

// use /deep/ to apply scss classes to the child components
div /deep/ {
  @include outline-half-clipped-shape(
    $clipped-shape-width,
    $clipped-shape-height,
    $clipped-length,
    $clipped-shape-width-mobile,
    $clipped-shape-height-mobile,
    $clipped-length-mobile,
    rgba($form-background, 1),
    $accent
  );
}
