@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../shared/half-clipped-shape.scss";

.job-main-content-wrapper {
  background-color: $primary;
  height: max-content;
  margin-top: -$header-height;
  min-height: calc(100vh - #{$footer-height});
  &__bg {
    width: 70vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 100;
    padding-top: $header-height;
    @include is-extra-small-mobile {
      width: 99%;
    }
  }
  &__container {
    width: 100%;
    margin: auto;
    user-select: none;
    position: relative;
    background-color: $accent;
    z-index: 102;
  }
  &__title {
    width: 70%;
    text-align: center;
    h1 {
      text-transform: uppercase;
      font-family: "Arial Bold" !important;
      // font-weight: bold;
      color: $header-item;
      height: fit-content;
      margin-top: 120px;
      @include is-mobile {
        margin-top: 80px;
        font-size: 2rem;
      }
      @include is-extra-small-mobile {
        margin-top: 80px;
        font-size: 2rem;
      }
    }
    p {
      margin-top: 20px;
      color: $sub-text;
      //   width: 57%;
      text-align: center;
      font-size: 1.4rem;
      //   @include is-large-desktop {
      //     width: 70%;
      //   }
      //   @include is-desktop {
      //     width: 80%;
      //   }
      //   @include is-tablet {
      //     width: 100%;
      //   }
      //   @include is-mobile {
      //     width: 100%;
      //     font-size: 1.1rem;
      //   }
      //   @include is-extra-small-mobile {
      //     width: 100%;
      //     font-size: 1.1rem;
      //   }
    }
  }

  &__jobs {
    width: 60%;
    margin: 20px auto;
    @include is-mobile {
      width: 90%;
    }
    @include is-extra-small-mobile {
      width: 90%;
    }
    &__content {
      display: flex;
      background-color: $section-color;
      width: 100%;
      padding: 10px;
      margin: 6px;
      border-radius: 10px;
      //   height: 80%;
      @include is-mobile {
        width: 90%;
      }
      @include is-extra-small-mobile {
        width: calc(100% - 6px);
        margin: 6px 6px 6px 0;
      }
    }
  }
  &__job-title {
    overflow: auto;
    width: 70%;
    max-width: 70% !important;
    margin-left: 20px;
    h3 {
      margin-top: 10px;
      color: $sub-text;
      font-size: 1.6rem;
      font-family: "Arial" !important;
    }
    p {
      font-family: "Arial" !important;
      color: $header-item;
      font-weight: bold;
      font-size: 1.8rem;
      margin-bottom: 0;
    }
  }
  &__details-btn {
    width: 80px;
    text-align: center;
    // height: 50px;
    // max-width: 30% !important;
    // display: flex;
    // justify-content: flex-end;
    // align-items: flex-end;
    // margin-bottom: 10px;
    position: absolute;
    bottom: 15px;
    right: 35px;
    font-size: 0.8rem;
    cursor: pointer;
    z-index: 100;
    background-color: $white-text;
    border-radius: 5px;
    border: 1px $blue-stroke solid;
    outline: none;
    padding: 5px 12px;
    box-shadow: 0 0 3px $blue-stroke;
    a {
      color: $black-text;
      width: 100%;
      height: 100%;
      span {
        padding: 5px 12px;
        width: 100%;
        height: 100%;
      }
    }
    @include is-extra-small-mobile {
      bottom: 20px;
    }
    @include is-mobile {
      bottom: 20px;
    }
  }
}

/deep/ div.outline-box__inside.outline-box__inside--is-button {
  background-color: $form-background;
  &:hover {
    background-color: $accent;
    color: $header-item;
  }
}
