@import "../../mixins.scss";
@import "../../color-palette.scss";
@import "../../shared/half-clipped-shape.scss";

.job-main-content-wrapper{
    background-color: $primary;
    margin-top: -120px;
    padding-top: 120px;
    &__container{
        width: 76%;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    &__title{
        width: 70%;
        h1{
            text-transform: uppercase;
            font-family: Arial;
    font-weight: bold;
            color: $header-item;
            @include is-mobile {
                font-size: 2rem;
            }
            @include is-extra-small-mobile{
                font-size: 2rem;
            }
        }
        p{
            color: $sub-text;
            width: 57%;
            font-size: 1.2rem;
            @include is-large-desktop {
                width: 70%;
            }
            @include is-desktop {
                width: 80%;
            }
            @include is-tablet {
                width: 100%;
            }
            @include is-mobile {
                width: 100%;
                font-size: 1.1rem;
            }
            @include is-extra-small-mobile{
                width: 100%;
                font-size: 1.1rem;
            }
        }
    }

    &__jobs{
        width: 100%;
    @media (min-width: 992px){
        .col-lg-4 {
            max-width: 31.333333%!important;
        }
    }
    @media (min-width: 768px){
        .col-md-6 {
            max-width: 46%;
        }
    }
        &__content{
            background-color: $form-background;
            width: 100%;
            padding-top: 40px;
            padding-bottom: 40px;
            margin: 6px;
        }
    


    }
   &__job-title{
    overflow: auto;
       p{
        color: $sub-text;
        font-size: 1.2rem;
       }
       h3{
        color: $header-item; 
        font-family: Arial;
    font-weight: bold; 
        margin: 0px 0 50px;
       }
   } 
   &__details-btn{
    display: flex;
    justify-content: flex-end;
   }
}

/deep/ div.outline-box__inside.outline-box__inside--is-button{
    background-color: $form-background;
    &:hover{
      background-color: $accent;
      color: $header-item;
    }
  }