@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";
@import "../shared/half-clipped-shape.scss";

@mixin max-width-1650 {
  @media (max-width: 1650px) {
    @content;
  }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: $primary;
}
::-webkit-scrollbar-thumb {
  background-color: $accent;
}

.about-wrapper {
  background-color: $primary;
  height: max-content;
  margin-top: -$header-height;
  min-height: calc(100vh - #{$footer-height});
  // // background-color: $primary;
  // height: max-content;
  // // margin-top: -$header-height;
  // // min-height: calc(100vh - #{$footer-height});
  // width: 100%;
  // margin: auto;
  // user-select: none;
  // // padding: 15px 0 100px 15px;
  // position: relative;
  // background-color: $accent;
  // z-index: 102;
  // @include is-mobile {
  //   margin-top: -$header-height-mobile - 45;
  //   min-height: calc(100vh - #{$footer-height-mobile});
  // }
  // @include is-extra-small-mobile {
  //   margin-top: -75px;
  // }
  // .hero-wrapper {
  //   @include is-extra-small-mobile {
  //     padding-top: 150px;
  //   }
  // }
  .about-container {
    .half-filled-box {
      cursor: auto;
      margin: 0;
      margin-bottom: 100px;
      @include is-large-desktop {
        margin-bottom: 90px;
      }
      @include is-desktop {
        margin-bottom: 80px;
      }
      @include is-tablet {
        margin-bottom: 70px;
      }
      @include is-mobile {
        margin-bottom: 50px;
        margin-top: 100px;
      }
    }
    &__heroContent {
      width: 80%;
      height: 100%;
      margin: auto;
      text-align: center;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;

      h1 {
        color: $header-item;
        user-select: none;
        font-size: 2.5rem;
        font-family: "Arial Bold" !important;
        margin-top: 20px;
        @include is-extra-small-mobile {
          font-size: 1.3rem;
        }
        @include is-mobile {
          font-size: 1.3rem;
        }
      }
      p {
        color: $sub-text;
        user-select: none;
        font-size: 1.1rem;
        line-height: 40px;
        @include is-extra-small-mobile {
          font-size: 1rem;
        }
        @include is-mobile {
          font-size: 1rem;
        }
      }
    }
  }
  &__bg {
    width: 70vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 100;
    padding-top: $header-height;
    @include is-extra-small-mobile {
      width: 99%;
    }
  }
  &__content {
    width: 100%;
    margin: auto;
    user-select: none;
    padding: 15px 0 15px;
    position: relative;
    background-color: $accent;
    z-index: 102;
    div:first-child {
      @include is-extra-small-mobile {
        width: 100%;
        // height: 60vh;
      }
      @include is-mobile {
        width: 100%;
      }
    }
  }
}
