@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.contact-wrapper {
  background-image: url("~/website/img/hexagone-pattern.png");
  background-repeat: repeat;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px !important;
    background-color: $accent !important;
    border-radius: 20px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }
  &__outside {
    position: relative;
    width: calc(100% - 2px);
    height: $hero-image-height;
    background: $placeholder-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    @include create-hero-header-shape();
  }

  &__inside {
    width: calc(100% - 2px);
    height: calc(#{$hero-image-height} - 4px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    @include create-hero-header-shape();
    img {
      width: 20%;
      position: absolute;
      display: table;
      vertical-align: middle;
      transform: translateX(calc(50vw - 50%));
    }
  }

  &__content {
    width: 100%;
    padding: 5vh 15%;
    height: max-content;
    @include is-mobile {
      padding: 5%;
    }
    &__icon {
      margin-right: 20px;
    }
    h1,
    h2,
    p,
    span {
      color: white;
    }
    &__custom-button-wrapper {
      width: 190px;
      height: 52px;
      cursor: pointer;
      &__outside {
        position: relative;
        width: 40%;
        height: 100%;
        background: $primary;
        border-color: $primary;
        color: black;
        font-size: 1.05rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;
        @include create-hexagone-shape(10px);
      }
    }
  }
}

.form-control {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.6);
  @include create-hexagone-shape(10px);
  color: white;
}
.form-control::placeholder {
  color: gray;
}
input[type="text"] {
  height: 60px !important;
}
