@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.events-wrapper {
  background-image: url("~/website/img/hexagone-pattern.png");
  background-repeat: repeat;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px !important;
    background-color: $accent !important;
    border-radius: 20px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }
  &__outside {
    position: relative;
    width: calc(100% - 2px);
    height: $hero-image-height;
    background: $placeholder-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    @include create-hero-header-shape();
  }

  &__inside {
    width: calc(100% - 2px);
    height: calc(#{$hero-image-height} - 4px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    @include create-hero-header-shape();
  }
  &__content {
    width: 100%;
    min-height: 80vh;
    max-height: 80vh;
    padding: 0% 15%;
    h2 {
      margin: 80px 0;
      color: white;
      font-size: 2rem;
    }
    .row {
      .col {
        padding: 5px;
      }
    }
  }
}
