@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.home-wrapper {
  height: max-content;
  margin-top: -$header-height;
  min-height: calc(100vh - #{$footer-height});
  @include is-mobile {
    margin-top: -$header-height-mobile;
    min-height: calc(100vh - #{$footer-height-mobile});
  }
}
