@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.job-details-wrapper {
  // @include initializePageStyle;
  background-color: $accent;
  // padding-top: 80px;
  border-radius: 10px;
  width: 70%;
  max-height: calc(100vh - #{$page-margin});
  padding: 0 1%;
  margin: auto;
  @include is-extra-small-mobile {
    overflow-y: auto;
    margin-top: 20px;
    width: 80%;
  }
  @include is-mobile {
    overflow-y: auto;
    margin-top: 20px;
    width: 80%;
  }
  &__container {
    margin-top: 170px;
    width: 100%;
    // margin: auto;
    @include is-extra-small-mobile {
      margin-top: 10px;
    }
    @include is-mobile {
      margin-top: 10px;
    }
  }
  &__details {
    color: $primary;
    word-break: break-all;
    hr {
      border: 3px solid $primary;
      margin-bottom: 30px;
      margin-left: 0;
      width: 70%;
    }
    h1 {
      font-size: 30px;
      @include is-extra-small-mobile {
        font-size: 1.3rem;
      }
      @include is-mobile {
        font-size: 1.3rem;
      }
    }
    h2 {
      font-size: 2rem;
      font-weight: bold;
      @include is-extra-small-mobile {
        font-size: 1.5rem;
      }
      @include is-mobile {
        font-size: 1.5rem;
      }
    }
    h3 {
      font-size: 30px;
      @include is-extra-small-mobile {
        font-size: 1.3rem;
      }
      @include is-mobile {
        font-size: 1.3rem;
      }
    }
    p {
      line-height: 30px;
    }
  }
}
