@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.job-details-wrapper {
  @include initializePageStyle;
  background-color: $accent;
  padding-top: 80px;
  margin-top: 25px;
  border-radius: 10px;
  &__container {
    width: 90%;
    margin: auto;
  }
  &__details {
    color: $primary;
    word-break: break-all;
    hr {
      border: 3px solid $primary;
      margin-bottom: 30px;
      margin-left: 0;
      width: 70%;
    }
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 2rem;
      font-weight: bold;
    }
    h3 {
      font-size: 30px;
    }
    p {
      line-height: 30px;
    }
  }
}
