@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

$preview-image: 150px;

.profile-wrapper {
  background-image: url("~/website/img/hexagone-pattern.png");
  background-repeat: repeat;
  height: 100vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px !important;
    background-color: $accent !important;
    border-radius: 20px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }
  &__outside {
    position: relative;
    width: calc(100% - 2px);
    height: $hero-image-height;
    background: $placeholder-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    @include create-hero-header-shape();
  }

  &__inside {
    position: relative;
    // background-image: url("~/website/img/cover-placeholder.jpg");
    width: calc(100% - 2px);
    height: calc(#{$hero-image-height} - 4px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include create-hero-header-shape();
    &__img {
      @extend .profile-wrapper__inside;
      background-image: url("~/website/img/cover-placeholder.jpg");
    }
  }

  &__content {
    width: 100%;
    padding: 5vh 15%;
    min-height: calc(100vh - 12vh);
    color: white !important;
    @include is-mobile {
      min-height: 82vh;
      padding: 5%;
    }
    &__profile-details {
      padding-left: 50px;
      div {
        height: 110px;
        margin-top: 5px;
        h4 {
          margin-top: 0;
          color: $primary;
        }
      }
      h4:nth-child(2) {
        font-weight: bold;
      }
    }
    &__custom-button-wrapper {
      width: 190px;
      height: 52px;
      cursor: pointer;
      &__outside {
        position: relative;
        width: 200px;
        height: 100%;
        margin: 5px;
        background: $placeholder-background;
        border-color: $placeholder-background;
        color: $primary;
        font-size: 1.05rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s ease;
        @include create-hexagone-shape(10px);
      }
    }
  }
}

.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  height: $preview-image; /* minimum height */
  width: $preview-image;
  margin: auto;
  position: relative;
  cursor: pointer;
}
.dropbox-cover {
  outline-offset: -30px;
  background: lightcyan;
  color: dimgray;
  height: 100%; /* minimum height */
  width: 100%;
  margin: auto;
  position: relative;
  cursor: pointer;
  @include create-hero-header-shape();
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: $preview-image;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover,
.dropbox-cover:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 10px 0;
}
.dropbox-cover p {
  font-size: 1.5em;
  text-align: center;
  padding: 10px 0;
}

.preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview img {
  width: 100%;
  height: $preview-image;
  border-radius: 10px !important;
  border: 1px solid $primary;
  object-fit: cover;
}

.preview__close {
  position: absolute;
  top: 0;
  right: 0;
  color: $accent;
  background-color: $primary;
  font-size: 20px;
  float: right;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  z-index: 100;
  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}
