@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.story-wrapper {
  background-image: url("~/website/img/hexagone-pattern.png");
  background-repeat: repeat;
  //   height: 100vh;
  &__hero-img {
    // object-fit: cover;
    width: 100%;
  }
  &__content {
    width: 100%;
    min-height: 80vh;
    padding: 5% 15%;
    @include is-mobile {
      min-height: 82vh;
    }
    h1,
    p {
      color: white;
    }
    h1 {
      margin: 0;
      color: white;
      font-size: 2rem;
      margin-bottom: 50px;
    }
    p {
      font-size: 1.2rem;
    }
    .row {
      .col {
        padding: 5px;
      }
    }
  }
  &__navLinks {
    list-style: none;
    color: white;
    padding: 20px;
    margin-bottom: 0;
    li {
      display: inline-block;
      cursor: pointer;
      padding-right: 20px;
      transition: all 0.3s ease 0s;
      color: $inactive-header-link;
      font-size: 1.5rem;
      font-weight: lighter;
    }
    &--active {
      color: $primary !important;
      text-decoration: underline;
      font-family: "Roboto Bold";
    }
  }
}
