.story-wrapper {
  background-image: url("~/website/img/hexagone-pattern.png");
  background-repeat: repeat;
  height: 100vh;
  overflow-y: auto;
}

.story-wrapper::-webkit-scrollbar {
  width: 5px !important;
  background-color: #172532 !important;
  border-radius: 20px !important;
}

.story-wrapper::-webkit-scrollbar-thumb {
  background-color: #2af3f3 !important;
  border-radius: 20px !important;
}

.story-wrapper__outside {
  position: relative;
  width: calc(100% - 2px);
  height: 248px;
  background: #0a5990;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.story-wrapper__outside--hexa-shape {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 4%, 100% 85%, 99% 92%, 66% 92%, 60% 130%, 2% 105%, 0 93%);
          clip-path: polygon(0 0, 100% 0, 100% 4%, 100% 85%, 99% 92%, 66% 92%, 60% 130%, 2% 105%, 0 93%);
}

@media (max-width: 767px) {
  .story-wrapper__outside--hexa-shape {
    -webkit-clip-path: polygon(0 0, 98% 0, 100% 4%, 100% 92%, 98% 95%, 66% 95%, 62% 100%, 2% 100%, 0 96%);
            clip-path: polygon(0 0, 98% 0, 100% 4%, 100% 92%, 98% 95%, 66% 95%, 62% 100%, 2% 100%, 0 96%);
  }
}

.story-wrapper__outside--none {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.story-wrapper__inside {
  position: relative;
  width: calc(100% - 2px);
  height: calc(248px - 4px);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story-wrapper__inside--hexa-shape {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 4%, 100% 85%, 99% 92%, 66% 92%, 60% 130%, 2% 105%, 0 93%);
          clip-path: polygon(0 0, 100% 0, 100% 4%, 100% 85%, 99% 92%, 66% 92%, 60% 130%, 2% 105%, 0 93%);
}

@media (max-width: 767px) {
  .story-wrapper__inside--hexa-shape {
    -webkit-clip-path: polygon(0 0, 98% 0, 100% 4%, 100% 92%, 98% 95%, 66% 95%, 62% 100%, 2% 100%, 0 96%);
            clip-path: polygon(0 0, 98% 0, 100% 4%, 100% 92%, 98% 95%, 66% 95%, 62% 100%, 2% 100%, 0 96%);
  }
}

.story-wrapper__inside--none {
  -webkit-clip-path: inset(0 0 0 0);
          clip-path: inset(0 0 0 0);
}

.story-wrapper__inside img {
  height: 150px;
  position: absolute;
  display: table;
  vertical-align: middle;
}

@media (max-width: 767px) {
  .story-wrapper__inside img {
    width: 70%;
    height: auto;
  }
}

.story-wrapper__inside video {
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .story-wrapper__inside video {
    height: 100%;
  }
}

.story-wrapper__content {
  width: 100%;
  padding: 5vh 15%;
  min-height: calc(100vh - 12vh);
}

@media (max-width: 767px) {
  .story-wrapper__content {
    min-height: 82vh;
    padding: 5%;
  }
}

.story-wrapper__content h1,
.story-wrapper__content p {
  color: white !important;
}

.story-wrapper__content h1 {
  margin: 0;
  color: white;
  font-size: 2rem;
  margin-bottom: 50px;
}

.story-wrapper__content p {
  font-size: 1.2rem;
}

.story-wrapper__content .row .col {
  padding: 5px;
}

.story-wrapper__navLinks {
  list-style: none;
  color: white;
  padding: 20px;
  margin-bottom: 0;
}

.story-wrapper__navLinks li {
  display: inline-block;
  cursor: pointer;
  padding-right: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #e7e7e7;
  font-size: 1.5rem;
  font-weight: lighter;
}

.story-wrapper__navLinks--active {
  color: #2af3f3 !important;
  text-decoration: underline;
  font-family: "Roboto Bold";
}
/*# sourceMappingURL=story.css.map */