@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.testimonials-wrapper {
  background-image: url("~/website/img/hexagone-pattern.png");
  background-repeat: repeat;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 5px !important;
    background-color: $accent !important;
    border-radius: 20px !important;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary !important;
    border-radius: 20px !important;
  }
  &__outside {
    position: relative;
    width: calc(100% - 2px);
    height: $hero-image-height;
    background: $placeholder-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    @include create-hero-header-shape();
  }

  &__inside {
    position: relative;
    width: calc(100% - 2px);
    height: calc(#{$hero-image-height} - 4px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include create-hero-header-shape();
    img {
      height: 150px;
      position: absolute;
      display: table;
      vertical-align: middle;
      @include is-mobile {
        width: 70%;
        height: auto;
      }
    }
    video {
      object-fit: cover;
      @include is-mobile {
        height: 100%;
      }
    }
  }

  &__content {
    width: 100%;
    padding: 5vh 15%;
    min-height: calc(75vh - 12vh);
    @include is-mobile {
      min-height: 82vh;
      padding: 5%;
    }
    h1,
    p {
      color: white !important;
    }
    h1 {
      margin: 0;
      color: white;
      font-size: 2rem;
      margin-bottom: 50px;
    }
    p {
      font-size: 1.2rem;
    }
    .row {
      .col {
        padding: 5px;
      }
    }
  }
  &__navLinks {
    list-style: none;
    color: white;
    padding: 20px;
    margin-bottom: 0;
    li {
      display: inline-block;
      cursor: pointer;
      padding-right: 20px;
      transition: all 0.3s ease 0s;
      color: $inactive-header-link;
      font-size: 1.5rem;
      font-weight: lighter;
    }
    &--active {
      color: $primary !important;
      text-decoration: underline;
      font-family: "Roboto Bold";
    }
  }
}
