@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.work-details-wrapper {
  // background-color: $primary;
  // height: max-content;
  // margin-top: -$header-height;
  // min-height: 100vh;
  padding-top: $page-margin;
  @include is-mobile {
    margin-top: -$header-height-mobile - 45;
    min-height: calc(100vh - #{$footer-height-mobile});
  }
  @include is-extra-small-mobile {
    margin-top: -75px;
  }
  &__cover-container {
    width: 100%;
    max-height: calc(100vh - #{$page-margin});
    padding: 0 calc(calc(100% - #{$modal-width}) / 2);
    // min-height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    margin: auto;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: $header-item;
    &::-webkit-scrollbar {
      width: 5px !important;
      background-color: $primary !important;
      border-radius: 20px !important;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $accent !important;
      border-radius: 20px !important;
    }
    img {
      width: 100%;
      object-fit: cover;
      filter: brightness(50%);
      @include is-extra-small-mobile {
        min-height: 400px;
      }
      @include is-mobile {
        min-height: 400px;
      }
    }
    &__title {
      font-family: Arial;
      font-weight: bold;
      width: 80%;
      margin-top: 0;
      // margin: auto;
      margin-left: 12%;
      text-align: left;
      font-size: 1.5rem;
      margin-bottom: 5px;
      @include is-extra-small-mobile {
        font-size: 1.5rem;
      }
      @include is-mobile {
        font-size: 1.8rem;
      }
      @include is-tablet {
        font-size: 2rem;
      }
      @include is-desktop {
        font-size: 2rem;
      }
    }
    &__description {
      // position: absolute;
      width: 80%;
      // margin: auto;
      text-align: left;
      margin-top: 10px;
      font-size: 1.2rem;
      @include is-extra-small-mobile {
        font-size: 0.8rem;
      }
      @include is-mobile {
        font-size: 0.9rem;
      }
      @include is-tablet {
        font-size: 1rem;
      }
      @include is-desktop {
        font-size: 1rem;
      }
    }
  }
  &__cover-statistics {
    // position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    // bottom: 0;
    transition: all 0.5s ease-in-out;
    @include is-extra-small-mobile {
      bottom: 1%;
    }
    @include is-mobile {
      bottom: 2%;
    }
    @include is-tablet {
      bottom: 5%;
    }
    @include is-desktop {
      bottom: 6%;
    }
    :last-child {
      &::after {
        content: "";
        width: 0;
        height: 0;
      }
    }
    div {
      font-family: Arial;
      font-weight: bold;
      position: relative;
      text-align: center;
      padding: 0 35px;
      &::after {
        content: "";
        width: 3px;
        height: 60%;
        // background-color: $accent;
        position: absolute;
        right: 0;
        top: 10px;
      }
      h1 {
        margin: 0;
        @include is-extra-small-mobile {
          font-size: 1.1rem;
        }
        @include is-mobile {
          font-size: 1.6rem;
        }
        @include is-tablet {
          font-size: 2.1rem;
        }
        @include is-desktop {
          font-size: 2.4rem;
        }
      }
      p {
        color: $accent;
        font-size: 1.1rem;
        text-transform: uppercase;
        margin: 0;
        @include is-extra-small-mobile {
          font-size: 0.8rem;
        }
        @include is-mobile {
          font-size: 1rem;
        }
        @include is-tablet {
          font-size: 1rem;
        }
        @include is-desktop {
          font-size: 1.1rem;
        }
      }
    }
  }
}
