@import "../color-palette.scss";
@import "../variables.scss";
@import "../mixins.scss";

.work-details-wrapper {
  background-color: $primary;
  height: max-content;
  margin-top: -$header-height;
  min-height: calc(100vh - #{$footer-height});
  @include is-mobile {
    margin-top: -$header-height-mobile - 45;
    min-height: calc(100vh - #{$footer-height-mobile});
  }
  @include is-extra-small-mobile {
    margin-top: -75px;
  }
  &__cover-container {
    width: 100%;
    max-height: 730px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $header-item;
    img {
      width: 100%;
      object-fit: cover;
      filter: brightness(50%);
    }
    &__title {
      font-family: "Segoe UI Bold";
      position: absolute;
      @include is-extra-small-mobile {
        font-size: 1.5rem;
      }
      @include is-mobile {
        font-size: 1.8rem;
      }
      @include is-tablet {
        font-size: 2rem;
      }
      @include is-desktop {
        font-size: 2rem;
      }
    }
    &__description {
      position: absolute;
      text-align: center;
      margin-top: 220px;
      font-size: 1.2rem;
      @include is-extra-small-mobile {
        margin-top: 90px;
        font-size: 0.8rem;
      }
      @include is-mobile {
        margin-top: 100px;
        font-size: 0.9rem;
      }
      @include is-tablet {
        margin-top: 110px;
        font-size: 1rem;
      }
      @include is-desktop {
        margin-top: 110px;
        font-size: 1rem;
      }
    }
  }
  &__cover-statistics {
    position: absolute;
    display: flex;
    bottom: 8%;
    transition: all 0.5s ease-in-out;
    @include is-extra-small-mobile {
      bottom: 1%;
    }
    @include is-mobile {
      bottom: 2%;
    }
    @include is-tablet {
      bottom: 5%;
    }
    @include is-desktop {
      bottom: 6%;
    }
    :last-child {
      &::after {
        content: "";
        width: 0;
        height: 0;
      }
    }
    div {
      font-family: "Segoe UI Bold";
      position: relative;
      text-align: center;
      padding: 0 50px 0 50px;
      &::after {
        content: "";
        width: 3px;
        height: 60%;
        background-color: $accent;
        position: absolute;
        right: 0;
        top: 10px;
      }
      h1 {
        margin: 0;
        @include is-extra-small-mobile {
          font-size: 1.1rem;
        }
        @include is-mobile {
          font-size: 1.6rem;
        }
        @include is-tablet {
          font-size: 2.1rem;
        }
        @include is-desktop {
          font-size: 2.4rem;
        }
      }
      p {
        color: $accent;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: 0;
        @include is-extra-small-mobile {
          font-size: 0.8rem;
        }
        @include is-mobile {
          font-size: 1rem;
        }
        @include is-tablet {
          font-size: 1.2rem;
        }
        @include is-desktop {
          font-size: 1.3rem;
        }
      }
    }
  }
}
